<a href="https://colab.research.google.com/github/yasirabd/solver-society-job-data/blob/main/2_0_Ekstrak_job_position.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective
Ekstrak job_position, semakin sedikit jumlah unique semakin bagus.

Data input yang dibutuhkan:
1. jobstreet_clean_tahap1.csv

Data output yang dihasilkan:
1. jobstreet_clean_tahap2.csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
data = pd.read_csv("/content/drive/My Drive/Data Loker/jobstreet_clean_tahap1.csv")
data.head()

   id_loker pulau  ... work_environment_bahasa   platform
0         1  jawa  ...               indonesia  jobstreet
1         2  jawa  ...       tidak dicantumkan  jobstreet
2         3  jawa  ...               indonesia  jobstreet
3         4  jawa  ...               indonesia  jobstreet
4         5  jawa  ...               indonesia  jobstreet

[5 rows x 17 columns]

In [3]:
# check null values
data.isnull().sum()

id_loker                                   0
pulau                                      0
provinsi                                   0
job_position                               0
company_name                               0
years_of_experience                        0
years_of_experience_cat                    0
job_description                            0
average_processing_time                    0
company_industry                           0
company_size                               0
work_environment_waktu_bekerja             0
work_environment_gaya_berpakaian           0
work_environment_gaya_berpakaian_contoh    0
work_environment_tunjangan                 0
work_environment_bahasa                    0
platform                                   0
dtype: int64

## Explore data

In [4]:
# check null values
data['job_position'].isnull().sum()

0

In [5]:
# convert to lower case 
job_position = data['job_position'].str.lower()
job_position.value_counts()

sales executive                      79
accounting staff                     68
digital marketing                    56
marketing                            49
sales manager                        48
                                     ..
programmer java                       1
spv marketing                         1
strategist                            1
warehouse crew (pemuatan)             1
epo analyst & documentation staff     1
Name: job_position, Length: 10056, dtype: int64

> Terdapat 10056 data unique, sangat kotor sekali.

In [6]:
# top 50 job_position
job_position.value_counts()[:50]

sales executive                 79
accounting staff                68
digital marketing               56
marketing                       49
sales manager                   48
accounting                      44
project manager                 43
sales                           42
graphic designer                42
staff accounting                38
marketing manager               37
marketing executive             36
sales engineer                  34
accounting supervisor           32
web developer                   32
account executive               31
sales marketing                 30
finance staff                   28
drafter                         27
sales supervisor                27
it programmer                   26
it support                      26
purchasing staff                26
customer service                25
account manager                 25
brand manager                   24
programmer                      24
supervisor produksi             23
personal assistant              22
social media specialist         21
accounting manager              20
tax staff                       20
business development manager    20
it staff                        20
management trainee              19
branch manager                  19
content creator                 19
finance manager                 18
business analyst                18
admin                           18
salesman                        17
kepala gudang                   17
product manager                 17
accounting officer              16
digital marketing specialist    16
full stack developer            16
ppic staff                      15
secretary                       15
finance accounting manager      15
admin sales                     15
Name: job_position, dtype: int64

In [7]:
# convert menjadi list
temp = job_position.tolist()

## Cleaning data penjelas

In [8]:
# cari data yang terdapat bracket () dan []
brackets = ['(', ')', '[', ']']
    
# remove data in brackets
# alasan terdapat data -> "marketing executive (jakarta/cikarang)""
# pada bracket ada lokasi, tidak perlu

for idx, pos in enumerate(temp):
    for b in brackets:
        if b in pos:
            pos = re.sub("[\(\[].*?[\)\]]", "", pos)
    temp[idx] = pos

In [9]:
# remove data setelah "-"
# alasan terdapat data -> "tukang bubut manual - cikarang"
# setelah '-' menunjukkan lokasi atau penjelas

for idx, pos in enumerate(temp):
   if '-' in pos:
       temp[idx] = pos.split('-')[0]

In [10]:
# remove data setelah ":"
# alasan -> "finance supervisor: bandar lampung"
# setelah ':' menunjukkan lokasi atau penjelas
for idx, pos in enumerate(temp):
   if ':' in pos:
       temp[idx] = pos.split(':')[0]

In [11]:
# remove extra space
for idx, pos in enumerate(temp):
    temp[idx] = ' '.join(pos.split())

## Kelompokkan job_position yang mirip

### Sales Executive

In [12]:
# check banyak jenis job_position sales executive
sales_exec = list()
for pos in temp:
    if 'sales executive' in pos:
        sales_exec.append(pos)
pd.Series(sales_exec).unique()

array(['sales executive', 'sales executive veteriner',
       'sales executive supplement division',
       'sales executive horeka & b2b semarang',
       'sales executive horeka & b2b',
       'sales executive horeka & b2b jawa barat',
       'sales executive new channel', 'sales executive solo',
       'technical sales executive', 'sales executive pontianak',
       'sales executive it', 'it sales field/sales executive',
       'senior sales executive', 'telesales executives',
       'sales executive staff', 'sales executive corporate',
       'sales executive retail', 'marketing sales executive',
       'sales executive property', 'corporate sales executive',
       'sales executive area jawa barat', 'ecommerce sales executive',
       'sales executive cabang kudus', 'sales executive resin',
       'supervisor sales executive',
       'sales executive speciality from coffee/ ice cream machine or kitchen equip',
       'sales executive personal care', 'sales executive horeca',
       'industrial sales executive',
       'sales executive property dan perumahan di bogor',
       'project / residential sales executive',
       'business sales executive',
       'telesales executive – training provided',
       'sales executive bintaro', 'regional sales executive',
       'sales executive kosmetik', 'senior sales executive/manager',
       'tele sales executive', 'sales executive_warehouse truck',
       'sales executive_forklift', 'sales executive padang',
       'sales executive officer', 'sales executive cabang',
       'sales executive aquaculture kalimantan area',
       'senior project sales executive bogor',
       'sales executive cabang surabaya',
       'sales executive for wholesales', 'project sales executive',
       'kia big up sales executive', 'sales executive jakarta',
       'sales executive surabaya', 'sales executive for offset ink',
       'sales executive pekalongan',
       'key account senior sales executive bali',
       'sales executive area jawa tengah', 'sales executives',
       'sales executive bakery & peralatan pendingin'], dtype=object)

In [13]:
# replace dengan hanya sales executive
for idx,pos in enumerate(temp):
    if 'sales executive' in pos:
        temp[idx] = 'sales executive'

### Accounting Staff

In [14]:
# check banyak jenis accounting staff
acc_staff = list()
for pos in temp:
    if 'accounting staff' in pos and 'finance' not in pos:
        acc_staff.append(pos)
pd.Series(acc_staff).unique()

array(['accounting staff', 'mandarin accounting staff',
       'accounting staff medan deli tua', 'senior accounting staff',
       'accounting staff pabarik stainless steel', 'tax accounting staff',
       'accounting staff tangerang', 'accounting staff citeureup',
       'accounting staff semarang'], dtype=object)

In [15]:
# replace dengan hanya accounting staff
for idx, pos in enumerate(temp):
    if 'accounting staff' in pos and 'finance' not in pos:
        temp[idx] = 'accounting staff'

### Digital Marketing

In [16]:
# check banyak jenis digital marketing
digital_marketing = list()
for pos in temp:
    if 'digital marketing' in pos:
        digital_marketing.append(pos)
pd.Series(digital_marketing).unique()

array(['digital marketing specialist', 'digital marketing',
       'digital marketing officer', 'professional digital marketing',
       'digital marketing manager', 'head of digital marketing',
       'assistant personal digital marketing', 'senior digital marketing',
       'digital marketing executive',
       'digital marketing optimizer manager', 'digital marketing staff',
       'digital marketing admin', 'supervisor digital marketing',
       'staf digital marketing',
       'graphic designer or video editor for digital marketing advertising',
       'digital marketing & content writer', 'staff digital marketing',
       'digital marketing manager or head of digital marketing',
       'digital marketing assistant',
       'digital marketing communication manager',
       'junior digital marketing assistant at japanese advertising agency location free',
       'digital marketing for online shop', 'digital marketing campaign',
       'digital marketing and customer relation assistant manager',
       'digital marketing coordinator', 'digital marketing leader',
       'digital marketing trainer', 'brand and digital marketing',
       'content creator digital marketing', 'digital marketing lead',
       'digital marketing & e', 'social media digital marketing officer',
       'digital marketing, seo & sem junior',
       'digital marketing procurement', 'digital marketing strategist',
       'marketplace digital marketing specialist',
       'digital marketing & graphic design',
       'digital marketing tribunnetwork',
       'digital marketing junior manager', 'digital marketing supervisor',
       'supervisor digital marketing strategist',
       'staff digital marketing online dan marketplace',
       'digital marketing & content creator specialist',
       'senior digital marketing manager',
       'digital marketing, seo & sem experts',
       'junior digital marketing specialist and content creator',
       'graphic design & digital marketing',
       'digital marketing_sosial media specialist',
       'telesales digital marketing'], dtype=object)

In [17]:
# replace dengan hanya digital marketing
for idx,pos in enumerate(temp):
    if 'digital marketing' in pos:
        temp[idx] = 'digital marketing'

### Sales Manager

In [18]:
# check banyak jenis sales manager
sales_manager = list()
for pos in temp:
    if 'sales manager' in pos:
        sales_manager.append(pos)
pd.Series(sales_manager).unique()

array(['marketing sales manager', 'sales manager',
       'project sales manager', 'area sales manager horeka sumsel',
       'area sales manager fmcg', 'area sales manager',
       'sales manager / account manager', 'country sales manager',
       'regional sales manager fmcg', 'asisten sales manager',
       'account manager / area sales manager',
       'smb sales manager for it hardware',
       'regional sales manager for east region', 'district sales manager',
       'event sales manager', 'field sales manager bandung',
       'regional sales manager', 'channel sales manager',
       'food product category sales manager', 'sales manager property',
       'asistan sales manager', 'feedmill sales manager',
       'assistant area sales manager',
       'assistant sales manager foodstores',
       'area sales manager jawa barat', 'retail sales manager kalimantan',
       'sales manager industrial', 'area sales manager jawa timur',
       'region sales manager of kalimantan & sulawesi',
       'area sales manager balikpapan', 'national sales manager',
       'sales manager semarang', 'government sales manager',
       'senior sales manager', 'field sales manager',
       'area sales manager makasar', 'area sales manager jakarta',
       'sales manager area bogor11', 'area sales manager 2w',
       'sales manager handphone area jambi',
       'area sales manager sumatera smartphone',
       'corporate sales manager',
       'online sales manager beauty and skincare',
       'warehouse sales manager', 'sales manager for industry',
       'assistant sales manager', 'sales manager engineering',
       'component sales manager', 'sales manager houseware plastic',
       'regional sales manager automotive jawa barat',
       'regional sales manager fmcg kalimantan',
       'assistant area sales manager vinyl flooring',
       'sales manager automotive', 'sales manager packaging',
       'mt sales manager', 'area sales manager surabaya',
       'area sales manager medan', '销售经理助理 assistant sales manager',
       '销售经理助理（中文和英文）assistant sales manager', 'parts sales manager',
       'retail area sales manager', 'sales manager freight forwarding',
       'regional sales manager for food ingredients',
       'area sales manager general trade & local modern trade',
       'general sales manager poultry',
       'sales manager for livestock business', 'sales manager vape',
       'branch sales manager', 'japanese speaker sales manager',
       'sales manager nsm', 'turbine / engine project sales manager',
       'executive sales manager', 'nasional sales manager',
       'restaurant sales manager', 'sales manager pkrt industri',
       'sales manager food service & gt', 'franchise sales manager',
       'area sales manager tasik,malang',
       'area sales manager medan, pekanbaru, palembang, bengkulu dan jambi',
       'area sales manager kendari, sampit, samarinda',
       'regional sales manager easst',
       'sales manager chemicals personal care',
       'sales manager metal fabrication company',
       'area sales manager kpw jawa tengah',
       'sales manager cabang surabaya', 'cluster sales manager',
       'nasional sales manager laboratory',
       'sales manager packaging for pharmaceuticals',
       'sales manager packaging for personal care',
       'assistant sales manager funding',
       'sales manager/asisten sales manager'], dtype=object)

In [19]:
# replace dengan hanya sales manager
for idx,pos in enumerate(temp):
    if 'sales manager' in pos:
        temp[idx] = 'sales manager'

### Project Manager

In [20]:
# check banyak jenis project manager
proj_manager = list()
for pos in temp:
    if 'project manager' in pos:
        proj_manager.append(pos)
pd.Series(proj_manager).unique()

array(['project manager', 'it project manager',
       'project manager fiber optic', 'project manager security',
       'cloud project manager', 'project manager civil',
       'junior project manager', 'software project manager',
       'project manager software', 'capex project manager',
       'senior project manager', 'programme & project manager',
       'project manager assistant', 'associate project manager',
       'project manager for mall projects',
       'project manager it / komputer',
       'senior technical project manager',
       'project manager for social media marketing',
       'project manager interior', 'cx project manager',
       'regional project manager', 'project manager sipil',
       'chemical engineering project manager',
       'engineering and project manager',
       'business analyst / project manager', 'project manager me',
       'strategic project manager'], dtype=object)

In [21]:
# replace dengan hanya project manager
for idx,pos in enumerate(temp):
    if 'project manager' in pos:
        temp[idx] = 'project manager'

### Graphic Designer

In [22]:
# check banyak jenis graphic designer
graph_designer = list()
for pos in temp:
    if 'graphic designer' in pos:
        graph_designer.append(pos)
pd.Series(graph_designer).unique()

array(['graphic designer', 'graphic designer intern',
       'full time graphic designer', 'graphic designer staff',
       'social media graphic designer freelance',
       'motion graphic designer staff', 'dibutuhkan graphic designer',
       'graphic designer specialist', 'multimedia graphic designer',
       '3d animator motion graphic designer bandung',
       'multimedia & graphic designer officer',
       'illustrator graphic designer desain grafis layout specialist storyboard artist',
       'junior graphic designer', 'graphic designer content creator',
       'graphic designer internship', 'graphic designer supervisor',
       'graphic designer & administration allrounder',
       'graphic designer & prepress', 'graphic designer or illustrator',
       'conten creator graphic designer',
       'graphic designer content creator web design',
       'graphic designer and content creator',
       'senior graphic designer and video editor',
       'customer service graphic designer',
       'social media graphic designer',
       'senior graphic designer & branding',
       '3d animator motion graphic designer',
       'photographer graphic designer furniture interior online',
       'fashion graphic designer', 'senior graphic designer'],
      dtype=object)

In [23]:
# replace dengan hanya graphic designer
for idx,pos in enumerate(temp):
    if 'graphic designer' in pos:
        temp[idx] = 'graphic designer'

### Staff Accounting

In [24]:
# check banyak jenis staff accounting
staff_acc = list()
for pos in temp:
    if 'staff accounting' in pos:
        staff_acc.append(pos)
pd.Series(staff_acc).unique()

array(['staff accounting', 'staff accounting & administration',
       'staff accounting and tax for restaurant',
       'staff accounting and tax', 'staff accounting & finance',
       'staff accounting / admin pembukuan',
       'staff accounting & finance_wilayah kopo',
       'staff accounting finance', 'senior staff accounting finance',
       'senior staff accounting', 'senior staff accounting konsolidasi',
       'staff accounting / finance', 'staff accounting pajak',
       'staff accounting pajak jakarta', 'staff accounting & tax',
       'staff accounting & tax untuk restaurant'], dtype=object)

In [25]:
# replace dengan hanya staff accounting
for idx,pos in enumerate(temp):
    if 'staff accounting' in pos:
        temp[idx] = 'staff accounting'

### Marketing Manager

In [26]:
# check banyak jenis marketing manager
mark_manager = list()
for pos in temp:
    if 'marketing manager' in pos:
        mark_manager.append(pos)
pd.Series(mark_manager).unique()

array(['lead marketing manager', 'marketing manager',
       'senior marketing manager',
       'marketing manager property cabang semarang',
       'branch marketing manager', 'marketing manager property',
       'marketing manager property cabang depok',
       'sales & marketing manager', 'sales marketing manager',
       'trade marketing manager', 'pet food marketing manager',
       'assistant marketing manager',
       'modern channels sales marketing manager', 'sr marketing manager',
       'assistant sales and marketing manager',
       'sales and marketing manager',
       'area marketing manager product yamaha',
       'marketing manager properti', 'mobile game marketing manager',
       'social media marketing manager', 'area marketing manager',
       'influencer marketing manager', 'pr and marketing manager',
       'partnership marketing manager', 'brand marketing manager',
       'marketing manager roda 2', 'marketing manager building material',
       'telemarketing manager', 'marketing manager farmasi',
       'brand, sales and marketing manager'], dtype=object)

In [27]:
# replace dengan hanya marketing manager
for idx,pos in enumerate(temp):
    if 'marketing manager' in pos:
        temp[idx] = 'marketing manager'

### Marketing Executive

In [28]:
# check banyak jenis marketing executive
mark_exec = list()
for pos in temp:
    if 'marketing executive' in pos:
        mark_exec.append(pos)
pd.Series(mark_exec).unique()

array(['marketing executive',
       'marketing executive for ray white simatupang',
       'area marketing executive', 'sales/marketing executive',
       'marketing executive makassar', 'marketing executive semarang',
       'consumer marketing executive', 'marketing executive manager',
       'sales and marketing executive',
       'marketing executive alpha omega property',
       'marketing executive property', 'trade marketing executive',
       'marketing executive mataram', 'sales & marketing executive',
       'telemarketing executive staff', 'marketing executives',
       'field marketing executive', 'marketing executive officer',
       'senior marketing executive', 'sales marketing executive'],
      dtype=object)

In [29]:
# replace dengan hanya marketing executive
for idx,pos in enumerate(temp):
    if 'marketing executive' in pos:
        temp[idx] = 'marketing executive'

### Sales Engineer

In [30]:
# check banyak jenis sales engineer
sales_engineer = list()
for pos in temp:
    if 'sales engineer' in pos:
        sales_engineer.append(pos)
pd.Series(sales_engineer).unique()

array(['sales engineer', 'sales engineer cikampek',
       'it hardware presales / sales engineer / sales technical',
       'senior sales engineer, aftermarket o&g indonesia',
       'senior presales engineer', 'sales engineer – malang',
       'project sales engineer', 'sales engineer jakarta',
       'sales engineer – absorption chiller/variable speed drives',
       'sales engineering', 'food & commercial senior sales engineer',
       'senior sales engineer', 'technical sales engineer & specifier',
       'digital sales engineer', 'infrastructure sales engineer',
       'sales engineer for oil gas power plant epc industries',
       'marketing & sales engineer', 'automation sales engineer',
       'senior product sales engineer – dcs', 'technical sales engineer',
       'sales engineer hydraulic', 'sales engineer for surabaya area',
       'sales engineering ~ product inspection surabaya',
       'senior technical sales engineer', 'pre sales engineer',
       'sales engineer project tangerang cilegon area',
       'sales engineer balikpapan', 'sales engineering cilacap area',
       'inside sales engineer', 'sales engineer pekanbaru',
       'field sales engineer', 'sales engineer surakarta',
       'sales engineer semarang', 'sales engineer medan',
       'sales engineer compressor', 'sales engineer welding',
       'presales engineer', 'sales engineer & marketing'], dtype=object)

In [31]:
# replace dengan hanya sales engineer
for idx,pos in enumerate(temp):
    if 'sales engineer' in pos:
        temp[idx] = 'sales engineer'

### Web Developer

In [32]:
# check banyak jenis web developer
web_dev = list()
for pos in temp:
    if 'web developer' in pos:
        web_dev.append(pos)
pd.Series(web_dev).unique()

array(['.net web developer', 'web developer', 'full stack web developer',
       'java web developer', 'it web developer',
       'backend web developer jogja', 'junior php web developer',
       'web developer back end', 'frontend web developer',
       'front end web developer', 'java web developer for salesforce.com',
       'senior web developer', 'senior php web developer',
       'magento web developer', 'php web developer',
       'web developer in bali denpasar',
       'frontend web developer | javascript'], dtype=object)

In [33]:
# replace dengan hanya web developer
for idx,pos in enumerate(temp):
    if 'web developer' in pos:
        temp[idx] = 'web developer'

### Accounting Supervisor

In [34]:
# check banyak jenis accounting supervisor
job_list = list()
for pos in temp:
    if 'accounting supervisor' in pos:
        job_list.append(pos)
pd.Series(job_list).unique()

array(['finance and accounting supervisor', 'accounting supervisor',
       'general accounting supervisor', 'finance & accounting supervisor',
       'finance accounting supervisor',
       'finance accounting supervisor ecommerce',
       'finance dan accounting supervisor', 'cost accounting supervisor',
       'finance & accounting supervisor jambi',
       'senior accounting supervisor', 'tax accounting supervisor',
       'area finance & accounting supervisor',
       'tax & accounting supervisor'], dtype=object)

In [35]:
# replace dengan hanya accounting supervisor
for idx,pos in enumerate(temp):
    if 'accounting supervisor' in pos:
        temp[idx] = 'accounting supervisor'

### Account Executive

In [36]:
# check banyak jenis account executive
job_list = list()
for pos in temp:
    if 'account executive' in pos:
        job_list.append(pos)
pd.Series(job_list).unique()

array(['junior technical account executive', 'account executive',
       'account executive/sales marketing', 'key account executive',
       'presales & account executive enterprise',
       'enterprise sales account executive',
       'account executive semarang area', 'cloud account executive',
       'key account executive food & beverages',
       'key account executive water treatment',
       'key account executive pharma & cosmetics industry',
       'account executive staff', 'store account executive',
       'key account executive fmcg',
       'medical account executive yogyakarta',
       'account executive / business development',
       'key account executive food service',
       'account executive tribun network',
       'enterprise sales account executive bali',
       'ict key account executive', 'senior account executive',
       'insurance account executive', 'senior digital account executive',
       'key account executive makassar dan manado',
       'supervisor medical account executive',
       'account executive influencer marketing', 'erp account executive',
       'account executive for pos devices',
       'account executive digital grid network',
       'account executive cabang jawa tengah'], dtype=object)

In [37]:
# replace dengan hanya account executive
for idx,pos in enumerate(temp):
    if 'account executive' in pos:
        temp[idx] = 'account executive'

### Sales Marketing

In [38]:
# check banyak jenis sales marketing
job_list = list()
for pos in temp:
    if 'sales marketing' in pos:
        job_list.append(pos)
pd.Series(job_list).unique()

array(['sales marketing project', 'sales marketing',
       'sales marketing senior staff', 'sales marketing fmcg ecommerce',
       'sales marketing untuk produk kantong sampah',
       'supervisor sales marketing', 'sales marketing leadership program',
       'sales marketing admin for online brand',
       'sales marketing wrought iron', 'sales marketing bahan bangunan',
       'sales marketing b2b', 'sales marketing bdo',
       'head of sales marketing', 'sales marketing associate',
       'sales marketing toys stationary', 'staff sales marketing',
       'sales marketing alat berat', 'supervisor sales marketing fmcg',
       'digital online sales marketing',
       'sales marketing emkl freight forwarding',
       'sales marketing officer for fashion division',
       'sales marketing staff', 'sales marketing cleaning equipment',
       'sales marketing heavy equipment',
       'senior sales marketing percetakan', 'sales marketing marine',
       'sales marketing representative', 'administrasi sales marketing',
       'sales marketing retail', 'organics farm sales marketing',
       'sales marketing supervisor', 'sales marketing senior',
       'sales marketing seluruh indonesia', 'sales marketing lapangan',
       'sales marketing b2b cikarang', 'sales marketing semarang',
       'sales marketing logistik / emkl / forwarding',
       'sales marketing digital',
       'sales marketing supervisor tangerang tigaraksa cisoka',
       'sales marketing junior'], dtype=object)

In [39]:
# replace dengan hanya sales marketing
for idx,pos in enumerate(temp):
    if 'sales marketing' in pos:
        temp[idx] = 'sales marketing'

### Finance Staff

In [40]:
# check banyak jenis finance staff
job_list = list()
for pos in temp:
    if 'finance staff' in pos:
        job_list.append(pos)
pd.Series(job_list).unique()

array(['kasir/finance staff', 'finance staff', 'accounting finance staff',
       'accounting & finance staff', 'finance staff （财务助理）location',
       'admin finance staff serang', 'accounting/finance staff',
       'accounting and finance staff', 'finance staff ap',
       'finance staff cabang palembang', 'admin finance staff',
       'accounting staff / finance staff'], dtype=object)

In [41]:
# replace dengan hanya finance staff
for idx,pos in enumerate(temp):
    if 'finance staff' in pos:
        temp[idx] = 'finance staff'

### Drafter

In [42]:
# check banyak jenis drafter
job_list = list()
for pos in temp:
    if 'drafter' in pos:
        job_list.append(pos)
pd.Series(job_list).unique()

array(['drafter cad', 'drafter', 'drafter & engineering',
       'design drafter', 'drafter sipil & interior', 'staf drafter',
       'drafter furniture', 'drafter/ designer', 'drafter mep',
       'drafter pelaksana', 'drafter arsitek & interior',
       'm/e drafter design engineer', 'drafter arsitektur',
       'drafter struktur', 'drafter elektrikal',
       'drafter sipil & furniture', 'drafter interior',
       'drafter head office', 'drafter dan project engineer support',
       'drafter & document controller', 'drafter*site manager*supervisor',
       'wood construction drafter', 'interior designer/drafter',
       'drafter aluminium, pintu besi dan facade', 'designer / drafter',
       'drafter export import', 'design product drafter',
       'drafter auto cad & 3d', 'drafter interior & furniture'],
      dtype=object)

In [43]:
# replace dengan hanya drafter
for idx,pos in enumerate(temp):
    if 'drafter' in pos:
        temp[idx] = 'drafter'

### Sales Supervisor

In [44]:
# check banyak jenis sales supervisor
job_list = list()
for pos in temp:
    if 'sales supervisor' in pos:
        job_list.append(pos)
pd.Series(job_list).unique()

array(['distributor sales supervisor', 'area sales supervisor fmcg',
       'sales supervisor', 'mt sales supervisor',
       'consumer products sales supervisor di yogya, purwokerto',
       'consumer products sales supervisor di padang',
       'consumer products sales supervisor di bandung, cirebon',
       'consumer products sales supervisor di bekasi, tangerang',
       'sales supervisor alat kesehatan di medan',
       'consumer products sales supervisor di kalimantan',
       'sales supervisor fmcg area surabaya',
       'territory sales supervisor',
       'sales supervisor for rental apartment in senopati and kemang',
       'area sales supervisor', 'sales supervisor depo labuan',
       'area sales supervisor samarinda', 'sales supervisor bali',
       'sales supervisor jawa tengah', 'senior sales supervisor',
       'direct sales supervisor', 'area sales supervisor palu',
       'sales supervisor sulawesi', 'sales supervisor modern market',
       'territorial sales supervisor ntt', 'marketing & sales supervisor',
       'sales supervisor logistic import',
       'sales supervisor food service', 'sales supervisor ogb',
       'sales supervisor modern trade area solo',
       'territory sales supervisor pt. belfoods indonesia',
       'sales supervisor area kalimantan tengah',
       'sales supervisor warehouse', 'regional sales supervisor',
       'area sales supervisor semarang', 'property sales supervisor',
       'sales supervisor kp yogyakarta', 'modern trade sales supervisor',
       'territory sales supervisor general trade',
       'teritorial sales supervisor', 'sales supervisor subdistributor',
       'area sales supervisor skincare', 'sales supervisor solo',
       'telesales supervisor', 'rice sales supervisor',
       'sales supervisor area lampung', 'sales supervisor area aceh',
       'sales supervisor area sumatera barat',
       'sales supervisor area tangerang',
       'sales supervisor area jawa barat',
       'sales supervisor area kalimantan timur',
       'sales supervisor area jawa tengah',
       'area / regional sales supervisor',
       'area sales supervisor di medan', 'area sales supervisor jambi',
       'sales supervisor serang', 'sales supervisor kpw jakarta',
       'sales supervisor general trade', 'sales supervisor modern trade',
       'sales supervisor gt',
       'sales supervisor untuk perusahaan distribusi air minum',
       'sales supervisor, kepala gudang, driver', 'sales supervisor depo',
       'area sales supervisor purwokerto', 'field sales supervisor',
       'sales supervisor team leader', 'sales supervisor jabodetabek',
       'sales supervisor property',
       'sales supervisor area sulawesi selatan', 'sales supervisor area'],
      dtype=object)

In [45]:
# replace dengan hanya sales supervisor
for idx,pos in enumerate(temp):
    if 'sales supervisor' in pos:
        temp[idx] = 'sales supervisor'

### Purchasing Staff

In [46]:
# check banyak jenis purchasing staff
job_list = list()
for pos in temp:
    if 'purchasing staff' in pos:
        job_list.append(pos)
pd.Series(job_list).unique()

array(['purchasing staff', 'hrd, ga & purchasing staff',
       'cosmetics developement / purchasing staff',
       'export import purchasing staff'], dtype=object)

In [47]:
# replace dengan hanya purchasing staff
for idx,pos in enumerate(temp):
    if 'purchasing staff' in pos:
        temp[idx] = 'purchasing staff'

### IT Programmer

In [48]:
# check banyak jenis it programmer
job_list = list()
for pos in temp:
    if 'it programmer' in pos:
        job_list.append(pos)
pd.Series(job_list).unique()

array(['it programmer', 'it programmer webbase',
       'senior it programmer and system', 'junior it programmer',
       'staff it programmer', 'it programmer abap', 'it programmer as400',
       'it programmer / developer'], dtype=object)

In [49]:
# replace dengan hanya it programmer
for idx,pos in enumerate(temp):
    if 'it programmer' in pos:
        temp[idx] = 'it programmer'

### IT Support

In [50]:
# check banyak jenis it support
job_list = list()
for pos in temp:
    if 'it support' in pos:
        job_list.append(pos)
pd.Series(job_list).unique()

array(['it support', 'it support staff', 'it support / it helpdesk',
       'it support officer', 'it support specialist',
       'it support & networking', 'it support freelance',
       'it support programmer', 'web programmer & it support',
       'junior it support'], dtype=object)

In [51]:
# replace dengan hanya it support
for idx,pos in enumerate(temp):
    if 'it support' in pos:
        temp[idx] = 'it support'

### Account Manager

In [52]:
# check banyak jenis account manager
job_list = list()
for pos in temp:
    if 'account manager' in pos:
        job_list.append(pos)
pd.Series(job_list).unique()

array(['account manager', 'key account manager', 'senior account manager',
       'b2b account manager', 'sales account manager',
       'it account manager',
       'account manager regional bandung & surabaya',
       'power quality account manager',
       'power distribution account manager', 'digital account manager',
       'key account manager east indonesia', 'enterprise account manager',
       'technical account manager chemical', 'corporate account manager',
       'executive account manager', 'insurance account manager',
       'crossborder key account manager',
       'corporate account manager kc. bandung',
       'account manager sektor edukasi', 'national key account manager',
       'key account manager for global pharmaceutical company',
       'account manager it solutions', 'online account manager',
       'sales it or account manager'], dtype=object)

In [53]:
# replace dengan hanya account manager
for idx,pos in enumerate(temp):
    if 'account manager' in pos:
        temp[idx] = 'account manager'

### Customer Service

In [54]:
# check banyak jenis customer service
job_list = list()
for pos in temp:
    if 'customer service' in pos:
        job_list.append(pos)
print(pd.Series(job_list).unique())

# replace dengan hanya customer service
for idx,pos in enumerate(temp):
    if 'customer service' in pos:
        temp[idx] = 'customer service'

['customer service freelance' 'customer service'
 'customer service and experience' 'supervisor customer service & sales'
 'customer service leader' 'customer service officer'
 'customer service team' 'customer service specialist'
 'customer service, alam sutera' 'customer service officer for google ads'
 'customer service export import'
 'senior customer service – exim sea freight' 'cashier customer service'
 'supervisor customer service' 'customer service supervisor'
 'customer service manager' 'admin cum customer service toko online'
 'head customer service & sales' 'customer service representative'
 'customer service & document' 'customer service executive'
 'head of customer service & sales beauty and skincare'
 'customer services agent' 'customer service advisor'
 'customer service & pharmacist leader' 'airfreight customer service'
 'customer services' 'customer service & collection supervisor'
 'customer service officer palu' 'customer service officer kendari'
 'customer service & export import documentation staff'
 'admin customer service' 'customer service operation'
 'customer service officer cilegon'
 'game master quality assurance customer service'
 'admin dan customer service' 'customer service freight forwarding'
 'customer service ecommerce' 'head of customer service'
 'admin online shop dan customer service' 'customer service staff'
 'customer service quality control' 'online shop customer services'
 'customer service & relationship manager']

### Brand Manager

In [55]:
# check banyak jenis brand manager
job_list = list()
for pos in temp:
    if 'brand manager' in pos:
        job_list.append(pos)
print(pd.Series(job_list).unique())

# replace dengan hanya brand manager
for idx,pos in enumerate(temp):
    if 'brand manager' in pos:
        temp[idx] = 'brand manager'

['brand manager' 'junior brand manager' 'assistant brand manager'
 'junior brand manager marketing' 'haircare brand manager'
 'marketing brand manager' 'brand manager building material'
 'brand manager fmcg' 'marketing/brand manager']

### Programmer

In [56]:
# check banyak jenis programmer
job_list = list()
for pos in temp:
    if 'programmer' in pos:
        job_list.append(pos)
print(pd.Series(job_list).unique())

# replace dengan hanya programmer
for idx,pos in enumerate(temp):
    if 'programmer' in pos:
        temp[idx] = 'programmer'

['programmer' 'full stack developer programmer engineer'
 'web & mobile app programmer' 'lead programmer' 'mobile game programmer'
 'web programmer' 'programmer freelance' 'java programmer senior'
 'senior c# .net programmer' 'mobile programmer' 'full stack programmer'
 'programmer asp.net' 'it senior java developer / programmer'
 'backend programmer' 'it programmer' 'front end programmer'
 'programmer developer)' 'programmer staff' 'programmer .net'
 'java programmer' 'jr java programmer' 'software programmer'
 'android programmer' '.net programmer' 'programmer support .net'
 'full time programmer' 'senior programmer java' 'web & api programmer'
 'php programmer' 'senior programmer' 'intermediate level programmer'
 'senior php programmer' 'it java programmer' 'senior java programmer'
 'web react js programmer' '3d programmer' 'programmer supervisor'
 'odoo programmer' 'cnc programmer' 'programmer web & mobile apps'
 'software developer programmer engineer –' 'mobile apps programmer'
 'back end website developer programmer'
 'full stack php or wordpress programmer'
 'mobile apps designer/programmer using react native with 5 years of experience'
 'senior javascript programmer' 'programmer web'
 'programmer staff di jakarta' 'bootcamp it consultant / programmer'
 'programmer and software developer' 'golang programmer bootcamp'
 'senior staff programmer' 'senior it coder programmer manager'
 'java software developer programmer' 'supervisor programmer it'
 'it technical analyst & programmer' 'senior .net programmer'
 'web programmer/ it developer'
 'programmer dotnet penempatan karawang/jakarta'
 'system analyst / programmer' '.net senior programmer'
 'financial system application programmer specialist' 'asp.net programmer'
 'fullstack programmer' 'senior frontend programmer'
 'web application programmer specialist' 'programmer python'
 'web integration programmer specialist' 'it web programmer'
 'programmer java' 'senior full stack developer programmer php java'
 'desktop programmer' 'it junior java developer / programmer'
 'programmer officer' 'programmer web dan android'
 'programmer visual basic' 'application programmer' 'junior programmer'
 'open source programmer' 'web application programmer'
 'it atau programmer' 'programmer php' 'back end programmer'
 'boot camp programmer' 'php developer programmer senior level'
 'junior .net programmer' 'support programmer' 'programmer it'
 'operator dan programmer cnc bubut' 'middle php programmer']

### Supervisor Produksi

In [57]:
# check banyak jenis supervisor produksi
job_list = list()
for pos in temp:
    if 'supervisor produksi' in pos:
        job_list.append(pos)
print(pd.Series(job_list).unique())

# replace dengan hanya supervisor produksi
for idx,pos in enumerate(temp):
    if 'supervisor produksi' in pos:
        temp[idx] = 'supervisor produksi'

['supervisor produksi' 'supervisor produksi farmasi'
 'supervisor produksi injection plastik' 'supervisor produksi pabrik'
 'supervisor produksi feedmill' 'supervisor produksi alkes'
 'senior supervisor produksi' 'supervisor produksi plating & painting'
 'supervisor produksi furniture' 'supervisor produksi obat']

### Personal Assistant

In [58]:
# check banyak jenis personal assistant
job_list = list()
for pos in temp:
    if 'personal assistant' in pos:
        job_list.append(pos)
print(pd.Series(job_list).unique())

# replace dengan hanya personal assistant
for idx,pos in enumerate(temp):
    if 'personal assistant' in pos:
        temp[idx] = 'personal assistant'

['personal assistant' 'personal assistant to director'
 'personal assistant to bod' 'personal assistant general affair ceo'
 'executive personal assistant' 'personal assistant to directors'
 'mandarin personal assistant/ translator'
 'personal assistant to vice president'
 'personal assistant to manager mandarin speaker'
 'secretary and personal assistant'
 'secretary / personal assistant director' 'personal assistant for ceo'
 'secretary / personal assistant'
 'accounting and personal assistant staff']

## Kelompokkan job_position dengan jumlah kata
Note: pada tahap ini belum dilakukan, mengingat waktu yang sudah mepet.

In [59]:
job_pos_satu = list()
job_pos_dua = list()
job_pos_banyak = list()

for job in temp:
    split = job.split()
    if len(split) == 1:
        job_pos_satu.append(job)
    elif len(split) == 2:
        job_pos_dua.append(job)
    else:
        job_pos_banyak.append(job)

len(job_pos_satu), len(job_pos_dua), len(job_pos_banyak)

(1200, 7113, 5723)

In [60]:
# lihat unique pada satu kata
pd.Series(job_pos_satu).value_counts()

programmer      215
sales            63
drafter          60
marketing        59
accounting       48
               ...
pmo               1
akuntan           1
bu                1
boostpreneur      1
hrga              1
Length: 263, dtype: int64

In [61]:
# lihat unique pada dua kata
pd.Series(job_pos_dua).value_counts()

sales manager        215
sales executive      214
sales supervisor     161
digital marketing    147
marketing manager    103
                    ...
anggota security       1
sharia governance      1
sales bandung          1
field salesman         1
ga admin               1
Length: 2375, dtype: int64

In [62]:
# lihat unique pada banyak kata
pd.Series(job_pos_banyak).value_counts()

business development manager            30
social media specialist                 24
full stack developer                    21
finance accounting manager              17
credit marketing officer                16
                                        ..
admin project property                   1
junior information security engineer     1
staff qc analisis                        1
2d senior artist                         1
epo analyst & documentation staff        1
Length: 4776, dtype: int64

### Mapping job satu kata

In [63]:
# pd.Series(job_pos_satu).value_counts().to_csv('job_pos_satu.csv')
# pd.Series(job_pos_dua).value_counts().to_csv('job_pos_dua.csv')
# pd.Series(job_pos_banyak).value_counts().to_csv('job_pos_banyak.csv')

## Hasil akhir

In [64]:
pd.Series(temp).value_counts()

programmer                                215
sales manager                             215
sales executive                           214
sales supervisor                          161
digital marketing                         147
                                         ...
telemarketer / phone dating consultant      1
supervisor sortation bandung                1
is developer                                1
product development staff                   1
epo analyst & documentation staff           1
Length: 7414, dtype: int64

In [65]:
# pd.Series(temp).value_counts().to_csv('job_position_distinct.csv')

> Yang semula distinct 10078, menjadi 7414 distinct

In [66]:
# insert into dataframe dan check null values
data['job_position'] = temp
data['job_position'].isnull().sum()

0

In [67]:
data.head()

   id_loker pulau  ... work_environment_bahasa   platform
0         1  jawa  ...               indonesia  jobstreet
1         2  jawa  ...       tidak dicantumkan  jobstreet
2         3  jawa  ...               indonesia  jobstreet
3         4  jawa  ...               indonesia  jobstreet
4         5  jawa  ...               indonesia  jobstreet

[5 rows x 17 columns]

# Export csv

In [68]:
data.shape

(14036, 17)

In [69]:
data.to_csv('jobstreet_clean_tahap2.csv', index=False)