<a href="https://colab.research.google.com/github/yasirabd/solver-society-job-data/blob/main/2_1_Feature_selection_%26_data_cleaning_pada_Jobstreet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective
Feature selection dan cleaning data.

Data input yang dibutuhkan:
1. jobstreet_4_oct.csv
2. waktu_bekerja_manual_perbaikan.csv
3. gaya_berpakaian_mapper.csv
4. tunjangan_item_mapper2.csv
5. tunjangan_item_mapper3.csv
6. bahasa_mapper.csv
7. daftar_kota_kabupaten_id.csv


Data output yang dihasilkan:
1. jobstreet_clean_tahap1.csv

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [ ]:
jobstreet = pd.read_csv("/content/drive/My Drive/Data Loker/jobstreet_4oct.csv")
jobstreet.head()

    platform  ...                                   company_overview
0  jobstreet  ...  [SEP][SEP] PT. Axindo Infotama didirikan di Ja...
1  jobstreet  ...  [SEP]We are an international market research c...
2  jobstreet  ...  [SEP]OTO Group is a subsidiary company of SUMI...
3  jobstreet  ...  [SEP]Kami menghimbau agar Anda berhati-hati sa...
4  jobstreet  ...  [SEP]OTO Group is a subsidiary company of SUMI...

[5 rows x 18 columns]

# Feature selection

| No | Attributes                       | Keterangan                                                  |
|----|----------------------------------|-------------------------------------------------------------|
| 1  | platform                         | Tempat data diambil (jobstreet)                             |
| 2  | job_position                     | Posisi pekerjaan yang dicari perusahaan                     |
| 3  | company_name                     | Nama perusahaan yang membuka lowongan kerja                 |
| 4  | years_of_experience              | Lama pengalaman yang dibutuhkan untuk apply pekerjaan       |
| 5  | company_location                 | Lokasi perusahaan yang membuka lowongan kerja               |
| 6  | company_address                  | Alamat perusahaan                                           |
| 7  | posting_date                     | Waktu perusahaan posting lowongan kerja pada platform       |
| 8  | closing_date                     | Waktu post lowongan kerja selesai ditampilkan pada platform |
| 9  | job_description                  | Deskripsi dari kualifikasi dan tanggung jawab pekerjaan     |
| 10 | average_processing_time          | Lama waktu perusahaan memproses lamaran kerja               |
| 11 | company_industry                 | Jenis industri perusahaan                                   |
| 12 | company_site                     | Website perusahaan                                          |
| 13 | company_size                     | Ukuran perusahaan dari jumlah karyawan                      |
| 14 | work_environment_waktu_bekerja   | Waktu bekerja karyawan                                      |
| 15 | work_environment_gaya_berpakaian | Pakaian yang digunakan karyawan formal/non-formal           |
| 16 | work_environment_tunjangan       | Tunjangan yang diberikan pada karyawan                      |
| 17 | work_environment_bahasa          | Bahasa yang digunakan pada perusahaan                       |
| 18 | company_overview                 | Deskripsi perusahaan                                        |

Berdasarkan diskusi 5 Oktober 2020, atribut yang **tidak dibutuhkan** adalah:
1. company_address
2. posting_date
3. closing_date
4. company_site
5. company_overview

In [ ]:
att_removed = ['company_address', 'posting_date', 'closing_date', 
               'company_site', 'company_overview']

data = jobstreet.drop(att_removed, axis=1)
data.head()

    platform  ... work_environment_bahasa
0  jobstreet  ...        Bahasa Indonesia
1  jobstreet  ...                     NaN
2  jobstreet  ...        Bahasa Indonesia
3  jobstreet  ...        Bahasa Indonesia
4  jobstreet  ...        Bahasa Indonesia

[5 rows x 13 columns]

# Data cleaning
Terdapat beberapa hal yang dilakukan:

A. Common cleaning
1. Convert to lowercase
2. Fillna dengan string 'Tidak tersedia'

B. Ekstrak data

1. <code>job_position</code>: dilakukan pengelompokkan/cluster supaya lebih unique menjadi job type.
    - Example: 'sales executive veteriner', 'corporate sales executive' menjadi -> 'sales executive'
2. <code>company_location</code>: dapat diekstrak menjadi attribut <code>pulau</code> dan <code>provinsi</code>
3. <code>job_description</code>: dapat diekstrak menjadi atribut <code>skill</code> dan <code>pendidikan</code>

In [ ]:
data.describe().T

                                  count  ...   freq
platform                          14150  ...  14150
job_position                      14141  ...     60
company_name                      14141  ...    548
years_of_experience               14137  ...   3417
company_location                  12720  ...   1786
job_description                   14141  ...     10
average_processing_time           13171  ...  10089
company_industry                  13593  ...   1712
company_size                      13579  ...   3578
work_environment_waktu_bekerja    12519  ...   7999
work_environment_gaya_berpakaian  12430  ...   7042
work_environment_tunjangan        11426  ...   2812
work_environment_bahasa           12491  ...   9215

[13 rows x 4 columns]

In [ ]:
# check missing values
data.isnull().sum()

platform                               0
job_position                           9
company_name                           9
years_of_experience                   13
company_location                    1430
job_description                        9
average_processing_time              979
company_industry                     557
company_size                         571
work_environment_waktu_bekerja      1631
work_environment_gaya_berpakaian    1720
work_environment_tunjangan          2724
work_environment_bahasa             1659
dtype: int64

## Dropna dan duplicate
- Lakukan dropna() pada row yang kosong berdasarkan job_position (9 data).

In [ ]:
data = data.dropna(subset=['job_position'])
data.isnull().sum()

platform                               0
job_position                           0
company_name                           0
years_of_experience                    4
company_location                    1421
job_description                        0
average_processing_time              970
company_industry                     548
company_size                         562
work_environment_waktu_bekerja      1622
work_environment_gaya_berpakaian    1711
work_environment_tunjangan          2715
work_environment_bahasa             1650
dtype: int64

In [ ]:
# check duplicate
duplicate = data[data.duplicated()]
duplicate

        platform  ...       work_environment_bahasa
193    jobstreet  ...              Bahasa Indonesia
2384   jobstreet  ...              Bahasa Indonesia
2940   jobstreet  ...              Bahasa Indonesia
3065   jobstreet  ...              Bahasa Indonesia
3200   jobstreet  ...              Bahasa Indonesia
...          ...  ...                           ...
13552  jobstreet  ...              Bahasa Indonesia
13722  jobstreet  ...  Bahasa Indonesia and English
13912  jobstreet  ...                Bahasa Inggris
13927  jobstreet  ...              Bahasa Indonesia
14013  jobstreet  ...                Bahasa Inggris

[82 rows x 13 columns]

In [ ]:
# drop duplicate data
data = data.drop_duplicates().reset_index(drop=True)

# check duplicate lagi
len(data[data.duplicated()])

0

In [ ]:
data.describe().T

                                  count  ...   freq
platform                          14059  ...  14059
job_position                      14059  ...     59
company_name                      14059  ...    545
years_of_experience               14055  ...   3401
company_location                  12648  ...   1778
job_description                   14059  ...     10
average_processing_time           13096  ...  10031
company_industry                  13514  ...   1697
company_size                      13500  ...   3555
work_environment_waktu_bekerja    12444  ...   7952
work_environment_gaya_berpakaian  12355  ...   7001
work_environment_tunjangan        11357  ...   2797
work_environment_bahasa           12417  ...   9162

[13 rows x 4 columns]

## Common cleaning

### company_name

In [ ]:
# check null values
data['company_name'].isnull().sum()

0

In [ ]:
data['company_name'].value_counts()

Perusahaan Dirahasiakan                                       545
OTO Group                                                     142
PT Michael Page Internasional Indonesia (Recruitment Firm)     83
PT. Aurora Group (Recruitment Firm)                            62
PT AXA Mandiri Financial Services                              61
                                                             ...
PT Batavia Wine International                                   1
PT Artha Jasakonsulindo                                         1
PT Container Maritime Activities                                1
LOCETTE                                                         1
CV Indoganic Karyatama                                          1
Name: company_name, Length: 5106, dtype: int64

> tidak dilakukan cleaning, karena sudah cukup bagus

In [ ]:
data.head()

    platform  ... work_environment_bahasa
0  jobstreet  ...        Bahasa Indonesia
1  jobstreet  ...                     NaN
2  jobstreet  ...        Bahasa Indonesia
3  jobstreet  ...        Bahasa Indonesia
4  jobstreet  ...        Bahasa Indonesia

[5 rows x 13 columns]

### years_of_experience

> **Question**: Apakah perlu dihilangkan teks seperti '(pegawai (non-manajemen & non-supervisor))' supaya data lebih distinct? **Iya**

In [ ]:
# check null
data['years_of_experience'].isnull().sum()

4

In [ ]:
# years_experience
# convert to lower case dan fillna dengan string 'tidak tersedia'
yoe = data['years_of_experience'].str.lower().fillna('kosong')

yoe.value_counts()

min 1 tahun (pegawai (non-manajemen & non-supervisor))    3401
min 2 tahun (pegawai (non-manajemen & non-supervisor))    2448
min 3 tahun (pegawai (non-manajemen & non-supervisor))    1054
min 2 tahun (supervisor/koordinator)                       931
min 3 tahun (supervisor/koordinator)                       902
                                                          ...
min 8 tahun (senior manager)                                 1
min 11 tahun (manajer/asisten manajer)                       1
min 5 tahun (manager)                                        1
min 3 tahun (senior executive)                               1
min 14 tahun (ceo/gm/direktur/manajer senior)                1
Name: years_of_experience, Length: 78, dtype: int64

In [ ]:
# coba lihat distinct data
temp = yoe.values
for idx, years in enumerate(temp):
    temp[idx] = years.split('(')[0].strip()

pd.Series(temp).value_counts()

min 1 tahun                                          4137
min 2 tahun                                          3743
min 3 tahun                                          2509
min 5 tahun                                          1665
lulusan baru/pengalaman kerja kurang dari 1 tahun     786
min 4 tahun                                           439
min 10 tahun                                          268
min 8 tahun                                           150
min 7 tahun                                           135
min 6 tahun                                           100
min 15 tahun                                           63
min 12 tahun                                           24
min 9 tahun                                             9
min 13 tahun                                            4
supervisor/koordinator                                  4
kosong                                                  4
pegawai                                                 3
min 16 tahun                                            2
min 18 tahun                                            2
lebih dari 24 tahun                                     2
min 20 tahun                                            2
min 17 tahun                                            2
ceo/gm/direktur/manajer senior                          2
min 14 tahun                                            1
manajer/asisten manajer                                 1
entry level                                             1
min 11 tahun                                            1
dtype: int64

In [ ]:
# mapping data
yoe_mapper = {"lulusan baru/pengalaman kerja kurang dari 1 tahun": 0,
              "min 1 tahun": 1,
              "min 2 tahun": 2,
              "min 3 tahun": 3,
              "min 4 tahun": 4,
              "min 5 tahun": 5,
              "min 6 tahun": 6,
              "min 7 tahun": 7,
              "min 8 tahun": 8,
              "min 9 tahun": 9,
              "min 10 tahun": 10,
              "min 11 tahun": 11,
              "min 12 tahun": 12,
              "min 13 tahun": 13,
              "min 14 tahun": 14,
              "min 15 tahun": 15,
              "min 16 tahun": 16,
              "min 17 tahun": 17,
              "min 18 tahun": 18,
              "min 20 tahun": 20,
              "lebih dari 24 tahun": 24,
              "kosong": "tidak dicantumkan",
              "supervisor/koordinator": "tidak dicantumkan",
              "pegawai": "tidak dicantumkan",
              "ceo/gm/direktur/manajer senior": "tidak dicantumkan",
              "entry level": "tidak dicantumkan",
              "manajer/asisten manajer": "tidak dicantumkan"}

temp = pd.Series(temp).map(yoe_mapper)

In [ ]:
data['years_of_experience'] = temp
data['years_of_experience'].value_counts()

1                    4137
2                    3743
3                    2509
5                    1665
0                     786
4                     439
10                    268
8                     150
7                     135
6                     100
15                     63
12                     24
tidak dicantumkan      15
9                       9
13                      4
24                      2
16                      2
17                      2
18                      2
20                      2
14                      1
11                      1
Name: years_of_experience, dtype: int64

In [ ]:
data.head()

    platform  ... work_environment_bahasa
0  jobstreet  ...        Bahasa Indonesia
1  jobstreet  ...                     NaN
2  jobstreet  ...        Bahasa Indonesia
3  jobstreet  ...        Bahasa Indonesia
4  jobstreet  ...        Bahasa Indonesia

[5 rows x 13 columns]

Dibuat categorical,
- 0 to 4 
- 5 to 9
- 10 to 14
- 15 to 19
- 20 to 24
- more than 24

In [ ]:
temp = data['years_of_experience'].copy()

for i in range(len(temp)):
    if temp[i] == 'tidak dicantumkan':
        continue

    year = temp[i]
    if year >= 0 and year <= 4:
        temp[i] = '0 - 4 tahun'
    elif year >= 5 and year <= 9:
        temp[i] = '5 - 9 tahun'
    elif year >= 10 and year <= 14:
        temp[i] = '10 - 14 tahun'
    elif year >= 15 and year <= 19:
        temp[i] = '15 - 19 tahun'
    elif year >= 20 and year <=24:
        temp[i] = '20 - 24 tahun'
    else:
        temp[i] = '> 24 tahun'

temp.value_counts()

0 - 4 tahun          11614
5 - 9 tahun           2059
10 - 14 tahun          298
15 - 19 tahun           69
tidak dicantumkan       15
20 - 24 tahun            4
Name: years_of_experience, dtype: int64

In [ ]:
# input data category years of experience into new column
data['years_of_experience_cat'] = temp
data['years_of_experience_cat'].isnull().sum()

0

In [ ]:
data.head()

    platform  ... years_of_experience_cat
0  jobstreet  ...             0 - 4 tahun
1  jobstreet  ...             0 - 4 tahun
2  jobstreet  ...             0 - 4 tahun
3  jobstreet  ...             0 - 4 tahun
4  jobstreet  ...             0 - 4 tahun

[5 rows x 14 columns]

### average_processing_time

In [ ]:
# convert to lower case dan fillna dengan string 'tidak tersedia'
avp = data['average_processing_time'].str.lower().fillna('tidak tersedia')

avp.value_counts()

lebih dari 2 minggu    10031
tidak tersedia           963
1 hari                   715
2 hari                   277
6 hari                   249
11 hari                  213
3 hari                   213
10 hari                  201
4 hari                   194
12 hari                  188
5 hari                   188
13 hari                  177
8 hari                   173
9 hari                   144
7 hari                   133
Name: average_processing_time, dtype: int64

In [ ]:
# disamakan satuan menjadi hari
temp = avp

for i in range(len(temp)):
    if temp[i] == 'tidak tersedia':
        continue
    
    if temp[i] == 'lebih dari 2 minggu':
        temp[i] = 14
    else:
        temp[i] = temp[i].split()[0]

temp.value_counts()

14                10031
tidak tersedia      963
1                   715
2                   277
6                   249
3                   213
11                  213
10                  201
4                   194
12                  188
5                   188
13                  177
8                   173
9                   144
7                   133
Name: average_processing_time, dtype: int64

In [ ]:
# check null values
data['average_processing_time'] = avp
data['average_processing_time'].isnull().sum()

0

In [ ]:
data.head()

    platform  ... years_of_experience_cat
0  jobstreet  ...             0 - 4 tahun
1  jobstreet  ...             0 - 4 tahun
2  jobstreet  ...             0 - 4 tahun
3  jobstreet  ...             0 - 4 tahun
4  jobstreet  ...             0 - 4 tahun

[5 rows x 14 columns]

### company_industry

In [ ]:
# convert to lower case dan fillna dengan string 'tidak tersedia'
ci = data['company_industry'].fillna('tidak tersedia')

ci.value_counts()

Manufaktur/Produksi                                     1697
Perbankan/Pelayanan Keuangan                             882
Komputer/Teknik Informatika (Perangkat Lunak)            723
Umum & Grosir                                            700
Retail/Merchandise                                       684
Produk Konsumen/Barang konsumen yang bergerak cepat      617
Manajemen/Konsulting HR                                  613
tidak tersedia                                           545
Transportasi/Logistik                                    532
Properti/Real Estate                                     513
Makanan & Minuman/Katering/Restoran                      482
Konstruksi/Bangunan/Teknik                               482
Kesehatan/Medis                                          475
Agrikultural/Perkebunan/Peternakan Unggas/Perikanan      397
Konsultasi (IT, Ilmu Pengetahuan, Teknis & Teknikal)     377
Asuransi                                                 357
Telekomunikasi                                           290
Elektrikal & Elektronik                                  288
Lainnya                                                  283
Konsultasi (Bisnis & Manajemen)                          282
Pendidikan                                               281
Industri Berat/Mesin/Peralatan                           213
Automobil/Mesin Tambahan Automotif/Kendaraan             211
BioTeknologi/Farmasi/Riset klinik                        204
Tekstil/Garment                                          139
Periklanan/Marketing/Promosi/Hubungan Masyarakat         129
Minyak/Gas/Petroleum                                     128
Pertambangan                                             124
Perawatan/Kecantikan/Fitnes                              121
Bahan Kimia/Pupuk/Pestisida                              120
Komputer/Teknik Informatika (Perangkat Keras)            119
Hiburan/Media                                            117
Pelayanan Arsitek/Desain Interior                        107
Akuntansi/Audit/Pelayanan Pajak                           98
Percetakan/Penerbitan                                     95
Hotel/Pariwisata                                          63
Polymer/Plastik/Karet/Ban                                 51
Call Center/IT-Enabled Services/BPO                       47
Seni/Desain/Fashion                                       46
Organisasi Nirlaba/Pelayanan Sosial/LSM                   46
Jurnalisme                                                40
Layanan Umum/Tenaga Penggerak                             38
Kayu/Fiber/Kertas                                         36
Pakaian                                                   33
Travel/Pariwisata                                         27
Jual Beli Saham/Sekuritas                                 27
Lingkungan/Kesehatan/Keamanan                             23
Pameran/Manajemen acara/PIKP                              23
Permata/Perhiasan                                         22
Pelayanan Perbaikan & Pemeliharaan                        21
Hukum/Legal                                               19
Keamanan/Penegak hukum                                    18
Kelautan/Aquakultur                                       17
Ilmu Pengetahuan & Teknologi                              11
Olahraga                                                   8
Tembakau                                                   7
Luar Angkasa/Aviasi/Pesawat Terbang                        6
Pemerintahan/Pertahanan                                    4
Semikonduktor/Fabrikasi                                    1
Name: company_industry, dtype: int64

In [ ]:
# check null values
data['company_industry'] = ci
data['company_industry'].isnull().sum()

0

In [ ]:
data.head()

    platform  ... years_of_experience_cat
0  jobstreet  ...             0 - 4 tahun
1  jobstreet  ...             0 - 4 tahun
2  jobstreet  ...             0 - 4 tahun
3  jobstreet  ...             0 - 4 tahun
4  jobstreet  ...             0 - 4 tahun

[5 rows x 14 columns]

### company_size

In [ ]:
# convert to lower case dan fillna dengan string 'tidak spesifik'
cs = data['company_size'].str.lower().fillna('tidak spesifik')

cs.value_counts()

51 - 200 pekerja           3555
1- 50 pekerja              2731
201 - 500 pekerja          2149
501 - 1000 pekerja         1501
1001 - 2000 pekerja        1227
lebih dari 5000 pekerja    1157
2001 - 5000 pekerja         944
tidak spesifik              795
Name: company_size, dtype: int64

In [ ]:
# check null values
data['company_size'] = cs
data['company_size'].isnull().sum()

0

In [ ]:
data.head()

    platform  ... years_of_experience_cat
0  jobstreet  ...             0 - 4 tahun
1  jobstreet  ...             0 - 4 tahun
2  jobstreet  ...             0 - 4 tahun
3  jobstreet  ...             0 - 4 tahun
4  jobstreet  ...             0 - 4 tahun

[5 rows x 14 columns]

### work_environment_waktu_bekerja
dapat dikelompokkan
- senin - jum'at
- senin - sabtu
- flexible
- shift

In [ ]:
# convert to lower case dan fillna dengan string 'tidak tersedia'
waktu_bekerja = data['work_environment_waktu_bekerja'].str.lower().fillna('tidak tersedia')

waktu_bekerja.value_counts()

waktu regular, senin - jumat                                                      7952
tidak tersedia                                                                    1615
sabtu atau memerlukan shift                                                       1127
senin - sabtu                                                                      353
monday - saturday                                                                  268
                                                                                  ...
senin (08.00-16.30) sabtu (08.00-14.30). 2 shift jika diperlukan (13.30-22.00)       1
monday to saturday (half-day)                                                        1
hari senin - sabtu,                                                                  1
work is our life                                                                     1
shifting, 1 hari libur dalam satu minggu, dan libur pada public holiday              1
Name: work_environment_waktu_bekerja, Length: 678, dtype: int64

In [ ]:
c = pd.read_csv('/content/drive/My Drive/Data Loker/waktu_bekerja_manual_perbaikan.csv')
c['work_environment_waktu_bekerja'].value_counts()

senin - jumat      8555
senin - sabtu      2219
tidak tersedia     1621
sabtu              1132
tidak spesifik      339
shift                71
fleksibel            56
senin - minggu       34
roster               25
selasa - minggu       4
minggu - jumat        2
sabtu - kamis         1
Name: work_environment_waktu_bekerja, dtype: int64

ganti roster -> shift

In [ ]:
c['work_environment_waktu_bekerja'] = c['work_environment_waktu_bekerja'].str.replace('roster', 'shift', regex=False)
c['work_environment_waktu_bekerja'].value_counts()

senin - jumat      8555
senin - sabtu      2219
tidak tersedia     1621
sabtu              1132
tidak spesifik      339
shift                96
fleksibel            56
senin - minggu       34
selasa - minggu       4
minggu - jumat        2
sabtu - kamis         1
Name: work_environment_waktu_bekerja, dtype: int64

In [ ]:
# check null values
data['work_environment_waktu_bekerja'] = c['work_environment_waktu_bekerja']
data['work_environment_waktu_bekerja'].isnull().sum()

0

In [ ]:
data.head()

    platform  ... years_of_experience_cat
0  jobstreet  ...             0 - 4 tahun
1  jobstreet  ...             0 - 4 tahun
2  jobstreet  ...             0 - 4 tahun
3  jobstreet  ...             0 - 4 tahun
4  jobstreet  ...             0 - 4 tahun

[5 rows x 14 columns]

### work_environment_gaya_berpakaian
Dilakukan pengelompokkan
- bisnis
- kasual
- kasual cerdas
- kasual bisnis
- formal
- semi formal
- seragam
- seragam lapangan
- modis
- pakaian muslim
- tidak spesifik
- tidak tersedia

In [ ]:
# convert to lower case dan fillna dengan string 'tidak tersedia'
gaya_berpakaian = data['work_environment_gaya_berpakaian'].str.lower().fillna('tidak tersedia')

gaya_berpakaian.value_counts()

bisnis (contoh: kemeja)           7001
kasual (contoh: kaos)             2283
tidak tersedia                    1704
formil (contoh: kemeja + dasi)    1538
uniform                            307
                                  ...
smart casual bussiness               1
bebas, rapih dan sopan               1
seragam standar perusahaan           1
xlc uniform                          1
official (formal)                    1
Name: work_environment_gaya_berpakaian, Length: 269, dtype: int64

In [ ]:
# gaya_berpakaian.value_counts().to_csv('gaya_berpakaian_distinct.csv')
# gaya_berpakaian.to_csv('gaya_berpakaian_kotor.csv')

Dari data distinct menggunakan .value_counts(), dilakukan manual mapping pada google sheet.

In [ ]:
c = pd.read_csv("/content/drive/My Drive/Data Loker/gaya_berpakaian_mapper.csv")

# sorting multiple data
for index, row in c.iterrows():
    values = row['value'].split(',')
    values = [data.strip() for data in values]
    result = sorted(values)

    # update
    row['value'] = ', '.join(result).strip()

# create dict for mapper
pakaian_mapper = dict()
for idx, row in c.iterrows():
    pakaian_mapper[row['key']] = row['value']

In [ ]:
temp = gaya_berpakaian.map(pakaian_mapper)
temp.value_counts()

bisnis                              7087
kasual                              2433
tidak tersedia                      1712
formal                              1664
seragam                              579
kasual cerdas                        159
bisnis, seragam                       82
kasual bisnis                         67
formal, kasual                        55
bisnis, kasual                        42
kasual, seragam                       30
formal, seragam                       20
kasual formal                         19
seragam lapangan                      18
semi formal                           16
kasual cerdas, seragam                12
pakaian muslim                        12
tidak spesifik                        12
bisnis, formal, seragam lapangan      10
bisnis, formal                        10
formal, modis                          7
kasual, kasual bisnis                  3
bisnis, seragam lapangan               2
bisnis, kasual, seragam                1
kasual, semi formal                    1
bisnis, kasual cerdas                  1
bisnis, modis                          1
kasual, modis                          1
modis                                  1
formal, seragam lapangan               1
olahraga                               1
Name: work_environment_gaya_berpakaian, dtype: int64

Lakukan replace:
- kasual cerdas -> semi formal
- kasual bisnis -> semi formal
- seragam lapangan -> seragam
- modis -> kasual
- tidak tersedia -> tidak spesifik

In [ ]:
style_mapper = {'bisnis': 'bisnis',
                'kasual': 'kasual',
                'kasual cerdas': 'kasual',
                'kasual bisnis': 'semi formal',
                'formal': 'formal',
                'semi formal': 'semi formal',
                'kasual formal': 'semi formal',
                'seragam': 'seragam',
                'seragam lapangan': 'seragam',
                'modis': 'kasual',
                'pakaian muslim': 'pakaian muslim',
                'olahraga': 'olahraga',
                'tidak spesifik': 'tidak spesifik',
                'tidak tersedia': 'tidak spesifik'}

In [ ]:
# style mapping
result = list()
i = 0
for style in temp:
    split = [data.strip() for data in style.split(',')]
    mapping = pd.Series(split).map(style_mapper).dropna().drop_duplicates()
    join = ', '.join(list(mapping)).strip()

    result.append(join)

In [ ]:
pd.Series(result).value_counts()

bisnis                     7087
kasual                     2594
tidak spesifik             1724
formal                     1664
seragam                     597
semi formal                 102
bisnis, seragam              84
formal, kasual               62
bisnis, kasual               44
kasual, seragam              42
formal, seragam              21
pakaian muslim               12
bisnis, formal               10
bisnis, formal, seragam      10
kasual, semi formal           4
bisnis, kasual, seragam       1
olahraga                      1
dtype: int64

In [ ]:
# check null values
data['work_environment_gaya_berpakaian'] = result
data['work_environment_gaya_berpakaian'].isnull().sum()

0

In [ ]:
data.head()

    platform  ... years_of_experience_cat
0  jobstreet  ...             0 - 4 tahun
1  jobstreet  ...             0 - 4 tahun
2  jobstreet  ...             0 - 4 tahun
3  jobstreet  ...             0 - 4 tahun
4  jobstreet  ...             0 - 4 tahun

[5 rows x 14 columns]

Untuk mempermudah dipahami bagi jobseeker, berikan contoh dari gaya berpakaian:
- bisnis: kemeja polos
- kasual: kaos
- formal: kemeja polos & dasi
- semi formal: kemeja motif
- pakaian muslim
- seragam: seragam kantor
- olahraga: olahraga

In [ ]:
contoh_style_mapper = {'bisnis': 'kemeja',
                       'kasual': 'kaos',
                       'formal': 'kemeja polos & dasi',
                       'semi formal': 'kemeja motif',
                       'pakaian muslim': 'pakaian muslim',
                       'seragam': 'seragam kantor/lapangan',
                       'olahraga': 'olahraga',
                       'tidak spesifik': 'tidak spesifik'}

In [ ]:
# contoh style mapping
result_style = list()

for style in result:
    split = [data.strip() for data in style.split(',')]
    mapping = pd.Series(split).map(contoh_style_mapper).dropna().drop_duplicates()
    join = ', '.join(list(mapping)).strip()

    result_style.append(join)

In [ ]:
pd.Series(result_style).value_counts()

kemeja                                                  7087
kaos                                                    2594
tidak spesifik                                          1724
kemeja polos & dasi                                     1664
seragam kantor/lapangan                                  597
kemeja motif                                             102
kemeja, seragam kantor/lapangan                           84
kemeja polos & dasi, kaos                                 62
kemeja, kaos                                              44
kaos, seragam kantor/lapangan                             42
kemeja polos & dasi, seragam kantor/lapangan              21
pakaian muslim                                            12
kemeja, kemeja polos & dasi                               10
kemeja, kemeja polos & dasi, seragam kantor/lapangan      10
kaos, kemeja motif                                         4
kemeja, kaos, seragam kantor/lapangan                      1
olahraga                                                   1
dtype: int64

In [ ]:
# check null values
data['work_environment_gaya_berpakaian_contoh'] = result_style
data['work_environment_gaya_berpakaian_contoh'].isnull().sum()

0

In [ ]:
data.head()

    platform  ... work_environment_gaya_berpakaian_contoh
0  jobstreet  ...                     kemeja polos & dasi
1  jobstreet  ...                          tidak spesifik
2  jobstreet  ...                                  kemeja
3  jobstreet  ...                     kemeja polos & dasi
4  jobstreet  ...                                  kemeja

[5 rows x 15 columns]

### work_environment_tunjangan

In [ ]:
# convert to lower case dan fillna dengan string 'tidak tersedia'
tunjangan = data['work_environment_tunjangan'].str.lower().fillna('tidak tersedia')

tunjangan.value_counts()

kesehatan                                                                                                2801
tidak tersedia                                                                                           2702
kesehatan, tunjangan lainnya                                                                              952
kesehatan, parkir                                                                                         569
tunjangan lainnya                                                                                         538
                                                                                                         ...
kesehatan, tunjangan lainnya, pinjaman, gigi, parkir, maternity, glasses                                    1
kesehatan, parkir, jamsostek                                                                                1
kesehatan, tunjangan lainnya, pinjaman, olahraga (contoh: pusat kebugaran), jamsostek (jht, jkk, jkm)       1
kesehatan, gigi, holiday subsidy                                                                            1
kesehatan, bonus tahunan, asuransi kesehatan double cover, mess, laundry, dan makan (site)                  1
Name: work_environment_tunjangan, Length: 1081, dtype: int64

In [ ]:
# tunjangan.value_counts().to_csv('tunjangan_distinct.csv')
# gaya_berpakaian.to_csv('gaya_berpakaian_kotor.csv')

In [ ]:
temp = list()
for i in range(len(tunjangan)):
    split = [data.strip() for data in tunjangan[i].split(',')]
    temp += split

Lihat jenis tunjangan unique

In [ ]:
from collections import Counter
a = Counter(temp)
a
# pd.Series(a).to_csv('tunjangan_item_mapper.csv')

Counter({'': 119,
         '& bpjs kesehatan': 2,
         '(sesuai dengan peraturan perusahaan)': 4,
         '-': 194,
         '- allowance (jika capai target)': 3,
         '- bpjs kesehatan': 3,
         '- bpjs kesehatan / bpjs ketenagakerjaan / asuransi kesehatan': 2,
         '- employee loan': 4,
         '- gaji pokok -closing fee': 1,
         '- life insurance. - career path': 4,
         '- monthly salary': 4,
         '- s/d rp 10.000.000': 1,
         '-bonus target': 1,
         '-bpjs': 1,
         '-bpjs ketenagakerjaan & kesehatan': 14,
         '-gaji pokok': 1,
         '-shuttle bus': 2,
         '-uang bensin': 1,
         '-uang kerajinan': 1,
         '.': 1,
         '12 days of annual leave': 2,
         '14 days for annual leave per year': 1,
         '16 days annual leave': 2,
         '30% - 40% of burgreens product': 1,
         '5-2%': 2,
         'acara refreshing bulanan': 4,
         'accommodation': 1,
         'accomodation': 13,
         'agricultural & home purpose': 6,
         'akomodasi': 1,
         'all bpjs': 16,
         'all bpjs & asuransi lainya': 3,
         'allowance': 9,
         'allowance retired & allowance old day': 1,
         'allowances': 1,
         'also valid for spouse and up to 3 children': 2,
         'and many more...': 3,
         'and pension': 1,
         'and thr': 10,
         'annual / mid-term bonus': 1,
         'annual adjustment': 4,
         'annual bonus': 59,
         'annual bonuses': 3,
         'annual incentive based on kpi': 5,
         'annual leave': 11,
         'annual leaves': 5,
         'annual return air ticket and performance bonus': 5,
         'annual reward': 2,
         'annual wage supplement': 3,
         'apreciation trophy': 2,
         'apresiasi': 1,
         'as offered in package': 6,
         'assurance': 2,
         'astek': 2,
         'asurance': 5,
         'asuransi': 15,
         'asuransi jiwa': 3,
         'asuransi kecelakaan diri': 1,
         'asuransi kesehatan': 25,
         'asuransi kesehatan + bpjs kesehatan': 1,
         'asuransi kesehatan dan bpjs': 1,
         'asuransi kesehatan dan ketenagakerjaan': 2,
         'asuransi kesehatan double cover': 1,
         'asuransi komersial': 5,
         'asuransi mandiri inhealth': 1,
         'asuransi pensiun': 1,
         'asuransi swasta': 6,
         'asuransi tambahan swasta': 3,
         'attendance': 1,
         'attractive bonus scheme': 3,
         'attractive bonuses': 1,
         'attractive compensation (sales)': 2,
         'attractive incentive / bonus': 1,
         'attractive salary': 6,
         'ausransi jiwa': 3,
         'bagi hasil komisi penjualan.': 1,
         'bahasa jepang': 1,
         'bantuan pendidikan': 806,
         'bantuan uang cuti': 1,
         'based on company policy': 7,
         'based on performance': 1,
         'basic salary': 1,
         'beasiswa': 2,
         'benefit performance': 1,
         'bensin': 1,
         'beras': 1,
         'biaya akomodasi': 1,
         'biaya operasional': 1,
         'biaya operasional kendaraan dan transportasi': 1,
         'biaya transport': 1,
         'billiards': 10,
         'birthday leave': 6,
         'bisa diskusi lebih detil': 1,
         'bjps kesehatan': 3,
         'bjps ketenagakerjaan': 1,
         'board games': 1,
         'bonus': 196,
         'bonus & commission plan': 3,
         'bonus & komisi yang besar/menarik. program training': 2,
         'bonus & reward': 1,
         'bonus (based on company performance)': 1,
         'bonus akhir tahun': 3,
         'bonus allowance': 2,
         'bonus and incentive': 2,
         'bonus by project': 1,
         'bonus dan dana pensiun': 10,
         'bonus dan incentive trip': 3,
         'bonus dan kesempatan karier menarik': 2,
         'bonus dan komisi': 2,
         'bonus dan pulsa / kuota.': 1,
         'bonus dan tunjangan lainnya': 2,
         'bonus dari penjualan': 1,
         'bonus disesuaikan dengan perusahaan (bergerak dibidang travel online)': 3,
         'bonus dll': 2,
         'bonus end of year': 1,
         'bonus harian dan bonus bulanan': 1,
         'bonus insentive': 6,
         'bonus kinerja': 3,
         'bonus kpi': 4,
         'bonus lain-lain': 1,
         'bonus omset bulanan': 1,
         'bonus penjualan': 7,
         'bonus performance by title': 2,
         'bonus prestasi': 3,
         'bonus project': 1,
         'bonus sesuai target produksi dan project': 1,
         'bonus system': 1,
         'bonus tahunan': 156,
         'bonus target': 2,
         'bonus target penjualan': 1,
         'bonus trip': 5,
         'bonus.': 3,
         'bonus/commission': 2,
         'bp jamsostek': 3,
         'bpjs': 366,
         'bpjs & commisison': 7,
         'bpjs & pph 21 paid by the company': 2,
         'bpjs (kesehatan & ketenagakerjaan)': 12,
         'bpjs dan jamsostek': 4,
         'bpjs employment': 11,
         'bpjs employment & thr': 2,
         'bpjs health': 2,
         'bpjs healthiness': 2,
         'bpjs healthy': 10,
         'bpjs insurance': 3,
         'bpjs k & tk': 9,
         'bpjs kes': 5,
         'bpjs kesehaan': 2,
         'bpjs kesehatan': 279,
         'bpjs kesehatan & bpjamsostek': 6,
         'bpjs kesehatan & bpjs ketenaga kerjaan': 1,
         'bpjs kesehatan & bpjs ketenagakerjaan': 8,
         'bpjs kesehatan & ketenagakerjaan': 50,
         'bpjs kesehatan & tenaga kerja': 7,
         'bpjs kesehatan + asuransi kesehatan': 4,
         'bpjs kesehatan + ketenagakerjaan': 1,
         'bpjs kesehatan . bpjs ketenagakerjaan': 2,
         'bpjs kesehatan and bpjs ketenagakerjaan': 4,
         'bpjs kesehatan bpjs tenaga kerja': 3,
         'bpjs kesehatan dan bpjs ketenagakerjaan': 22,
         'bpjs kesehatan dan bpjs ketenagakerjaan incentive/thr dan company car provided': 1,
         'bpjs kesehatan dan bpjs tenaga kerja': 1,
         'bpjs kesehatan dan bpjs tenaker': 1,
         'bpjs kesehatan dan ketenaga kerjaan': 1,
         'bpjs kesehatan dan ketenagakerjaan': 23,
         'bpjs kesehatan setelah 3 bulan probation': 1,
         'bpjs kesehatan&ketenagakerjaan': 1,
         'bpjs kesehatan/asuransi kesehatan': 2,
         'bpjs keten': 2,
         'bpjs ketenaga kerjaan': 3,
         'bpjs ketenaga kerjaan & kesehatan': 1,
         'bpjs ketenagakerja': 2,
         'bpjs ketenagakerjaan': 269,
         'bpjs ketenagakerjaan & bpjs kesehatan': 5,
         'bpjs ketenagakerjaan & kesehatan': 10,
         'bpjs ketenagakerjaan & pensiun': 2,
         'bpjs ketenagakerjaan + pension': 1,
         'bpjs ketenagakerjaan and insentive': 1,
         'bpjs ketenagakerjaan dan bpjs kesehatan': 10,
         'bpjs ketenagakerjaan dan insentif (yang berkaitan dgn penjualan)': 2,
         'bpjs ketenagakerjaan dan kesehatan': 4,
         'bpjs ketenagakerjaan dan kesehatan. pinjaman': 3,
         'bpjs ketenagakerjaan dan pensiun': 7,
         'bpjs ketenagakerjaan/kesehatan/pensiun dan transportasi': 1,
         'bpjs ketengakerjaan': 2,
         'bpjs naker': 3,
         'bpjs pension': 1,
         'bpjs pensiun': 10,
         'bpjs tenaga kerja': 40,
         'bpjs tenaga kerja dan bpjs kesehatan': 2,
         'bpjs tenagakerja': 3,
         'bpjs tenaker': 1,
         'bpjs tk': 24,
         'bpjs tk dan bpjs kesehatan': 4,
         'bpjs tk dan kes': 1,
         'bpjs* sesuai ketentuan perusahaan': 1,
         'bpjstk': 10,
         'bpjstk & bpjs kesehatan': 3,
         'bpjstk & kesehatan': 1,
         'bpjstk dan bpjskes': 1,
         'breakfast': 4,
         'bus': 6,
         'business trip': 1,
         'cafetaria': 3,
         'canteen': 1,
         'canteen shuttle': 1,
         'car loans for managerial positions': 2,
         'career': 22,
         'career development': 22,
         'career path': 5,
         'catering': 1,
         'catering makan siang': 1,
         'catering provided': 6,
         'cemilan': 4,
         'certificate': 1,
         'certification programs and company sponsored sport group activities': 1,
         'chance for global meeting at japan': 2,
         'charity day leave': 6,
         'child birth': 39,
         'cinema': 3,
         'clinic': 3,
         'closing fee': 1,
         'clubs & plenty of joyful events also celebrations.': 2,
         'co-working with indonesian bumn': 2,
         'coffee': 1,
         'comfort office': 3,
         'commision': 4,
         'commision based on sales': 1,
         'commission': 5,
         'commission fee': 1,
         'commission for marketing & account executive': 5,
         'communication': 35,
         'communication allowance': 46,
         'commuter': 3,
         'company': 2,
         'company insurance': 2,
         'company insurans': 5,
         'company lunch': 1,
         'company pick-up at certain area': 1,
         'company reference': 4,
         'company trip': 1,
         'compensation': 1,
         'competitive salary': 8,
         'competitive salary & benefit': 1,
         'cop': 9,
         'cop/mop (car /motorcycle ownership program)': 11,
         'corporate outing': 2,
         'crucial experience': 1,
         'cuti': 3,
         'cuti sakit': 3,
         'cuti tahunan': 5,
         'cuti variabel': 5,
         'daerah': 4,
         'daily uses': 2,
         'dan bonus tahunan': 1,
         'dan insentif.': 1,
         'dan kesehatan': 2,
         'dan makan (site)': 1,
         'dan pensiun': 1,
         'dan thr.': 5,
         'dan tunjangan lain': 4,
         'dana pensiun': 6,
         'dana pensiun dan bonus tahunan': 7,
         'dental': 6,
         'dental & optical': 1,
         'depend on positions & level': 17,
         'depend on the project regulation': 3,
         'depends on working location': 19,
         'dinas ke dalam dan luar negeri': 1,
         'dinner': 3,
         'dinner & snack break': 1,
         'diskon karyawan': 9,
         'dll': 4,
         'dormitory': 4,
         'dormitory and shuttle': 1,
         'dplk': 7,
         'dplk (pension fund)': 1,
         'education support': 4,
         'employee discount': 13,
         'employment insurance': 4,
         'english speaking company': 1,
         'esop': 1,
         'etc': 10,
         'etc)': 6,
         'etc.': 2,
         'extra allowance': 1,
         'extra fee for new project': 1,
         'eyeglass benefit': 1,
         'family gathering': 1,
         'fasilitas perjalanan dinas': 1,
         'fasilitas transportasi saat fieldbreak/cuti': 4,
         'fave voucher': 1,
         'fee': 1,
         'fee comision': 1,
         'fee penjualan': 1,
         'festive allowance (thr)': 2,
         'financial': 2,
         'fixed salary': 1,
         'flexi hours': 1,
         'flexi-time': 3,
         'flexible benefits': 2,
         'flexible benefits.': 1,
         'flexible hours': 1,
         'flexible work hours': 13,
         'flexible working hour.': 5,
         'flexible working hours': 4,
         'flexible working location': 1,
         'flexible working time': 1,
         'food': 3,
         'food and refreshments': 1,
         'food and transportation allowance': 4,
         'frame and others': 1,
         'free coffee': 3,
         'free flow coffee': 2,
         'free internet access': 1,
         'free lunch': 15,
         'free meal': 1,
         'free meals': 1,
         'free meals and accommodation provided': 1,
         'free parking': 4,
         'free snacks & coffee/tea': 1,
         'free-flow espresso': 1,
         'fruity & snack day': 3,
         'full commission': 1,
         'fun environment': 1,
         'fun outing (quarterly)': 1,
         'futsal activities': 1,
         'gaji': 7,
         'gaji + tunjangan kendaraan + insentive pencapaian target + komisi 0': 2,
         'gaji all in': 1,
         'gaji dan insentif': 27,
         'gaji pokok': 10,
         'gaji pokok + tunjangan kesehatan dan ketenagakerjaan + thr + annual bonus': 3,
         'gaji pokok - uang makan - sewa motor- insentif': 1,
         'gaji pokok sesuai dengan (umk)': 1,
         'gaji umr': 3,
         'gapok': 1,
         'gas': 3,
         'gathering': 2,
         'gigi': 2337,
         'glasses': 20,
         'global career': 3,
         'global exposure & learning': 4,
         'good commission and other bonuses': 1,
         'great experience': 2,
         'hadir': 1,
         'hajj': 2,
         'hari raya': 1,
         'healh insurance': 1,
         'health': 4,
         'health & pension insurance': 1,
         'health benefits & bpjs': 1,
         'health benefits & other benefits': 1,
         'health care insurance': 4,
         'health insurance': 12,
         'health insurance and others': 2,
         'high sales incentive': 1,
         'hiring bonus': 2,
         'holiday bonus to overseas': 1,
         'holiday subsidy': 1,
         'home allowance': 1,
         'home stay': 1,
         'hometrip': 7,
         'hospital insurance': 2,
         'hospital insurance (inpatient & outpatient)': 2,
         'hospitalization and pa insurance': 1,
         'housing': 18,
         'housing costs': 2,
         'hp': 2,
         'ibadah on time': 2,
         'in-house clinic': 2,
         'incentive': 49,
         'incentive (perfomance)': 4,
         'incentive bonus': 1,
         'incentive kerajinan': 2,
         'incentive per-student': 1,
         'incentive scheme': 3,
         'incentive trip': 8,
         'incentives': 5,
         'income tax etc': 2,
         'inpation insurance': 1,
         'insentif': 38,
         'insentif / bonus penjualan': 1,
         'insentif bonus': 3,
         'insentif dan bonus': 1,
         'insentif kehadiran.': 1,
         'insentif luar kota': 1,
         'insentif mengajar': 5,
         'insentif tahunan': 4,
         'insentif target': 1,
         'insentif tindakan': 1,
         'insentif.': 1,
         'insentif/komisi tidak terbatas': 5,
         'insentive': 34,
         'inssurance': 3,
         'insurance': 54,
         'insurance & optical': 1,
         'insurance and social security': 10,
         'insurance(bpjs)': 5,
         'insurance. parking': 1,
         'intensif (komisi)': 2,
         'interesting remuneration': 1,
         'internal & external training package': 2,
         'international development': 3,
         'international exposure': 3,
         'internet': 1,
         'internet & mobile': 1,
         'itemku monthly platform voucher': 5,
         'jabatan': 12,
         'jaminan hari tua': 14,
         'jaminan hari tua dan jaminan pensiun': 13,
         'jaminan jamsostek / ketenagakerjaan': 1,
         'jaminan kecelakaan kerja & jaminan kematian': 2,
         'jaminan pensiun': 16,
         'jamsostek': 90,
         'jamsostek (jaminan hari tua)': 2,
         'jamsostek (jht': 1,
         'jamsostek / bpjs ketenagakerjaan': 10,
         'jamsostek dan bpjs kesehatan': 1,
         'jemputan area karawang': 2,
         'jenjang karir': 9,
         'jht': 6,
         'jkk': 10,
         'jkm)': 1,
         'jkm.': 4,
         'kacamata': 2,
         'kantin': 1,
         'karir': 2,
         'karir.': 1,
         'keanggotaan koperasi': 9,
         'kecelakaan kerja': 13,
         'kehadiran': 5,
         'kelas bahasa jepang': 2,
         'kendaraan': 1,
         'kendaraan dinas': 3,
         'kerajinan': 1,
         'kesehatan': 9118,
         'kesehatan & fasilitas olahraga (contoh : pusat kebugaran)': 2,
         'kesehatan bonus': 1,
         'kesehatan dan bonus': 1,
         'kesehatan dan ketenagakerjaan': 4,
         'kesempatan tour dalam dan luar negri': 1,
         'kesempatan trip ke luar negeri': 3,
         'ketenaga kerjaan': 1,
         'ketenagakerjaan': 61,
         'klinik': 2,
         'komisi': 45,
         'komisi (sales)': 2,
         'komisi 1-2x gaji': 7,
         'komisi berdasarkan performance': 1,
         'komisi penjualan': 3,
         'komisi penjualan dan bonus target': 1,
         'komisi penjualan yang kompetitif': 3,
         'komisi.': 1,
         'komunikasi': 12,
         'kontrak': 3,
         'koperasi': 5,
         'lain-lain': 2,
         'laptop allowance': 3,
         'laptop for work': 10,
         'laptop ownership program': 1,
         'laundry': 1,
         'learning online support like udemy.com': 8,
         'leave': 1,
         'leave entitlements': 1,
         'lembur': 10,
         'library': 1,
         'libur panjang di hari raya idul fitri': 1,
         'life & accident insurance': 6,
         'life insurance': 13,
         'life.': 1,
         'loans': 5,
         'local & overseas training': 1,
         'location free': 3,
         'loyalty bonus': 1,
         'lunch': 83,
         'lunch and dinner': 2,
         'lunch and private insurance': 13,
         'lunch bpjs career path': 4,
         'lunch catering': 1,
         'lunch meal': 4,
         'lunch provided': 2,
         'machine': 1,
         'makan': 20,
         'makan & bpjs': 2,
         'makan dan jemputan': 7,
         'makan dan tiket mudik)': 10,
         'makan malam': 2,
         'makan siang': 26,
         'makan siang & makan malam': 1,
         'makan siang (katering hari senin - jumat)': 5,
         'makan siang dan pengembangan diri': 1,
         'makan siang di kantor': 1,
         'makan siang disediakan.': 1,
         'makan siang/malam disediakan': 1,
         'makanan': 1,
         'manpower': 1,
         'marriage': 39,
         'maternity': 23,
         'maternity allowance': 3,
         'maternity benefit': 3,
         'maternity insurance': 9,
         'maternity support': 6,
         'meal': 48,
         'meal & transport': 1,
         'meal & transport allowance': 4,
         'meal & transportation': 1,
         'meal allowance': 25,
         'meal and accomodation': 1,
         'meal provisions': 1,
         'meal voucher / lunch box': 12,
         'meals': 28,
         'meals & transport': 4,
         'meals allowance': 15,
         'meals and transport allowance': 1,
         'medical': 37,
         'medical (bpjs)': 2,
         'medical (provider sinar mas)': 10,
         'medical allowance': 1,
         'medical and dental': 2,
         'medical check up': 6,
         'medical check up every year': 1,
         'medical check up/tahun': 1,
         'medical claim': 3,
         'medical insurance': 14,
         'medical insurance (certain positions)': 2,
         'medical insurance: in-patient': 1,
         'mess': 8,
         'mess (tempat tinggal)': 2,
         'mess karyawan': 4,
         'miscellaneous allowance': 1,
         'mobil dinas': 2,
         'mobile': 1,
         'mobile allowance': 1,
         'mobile phone': 3,
         'monthly birthday celebration': 1,
         'monthly commission': 1,
         'monthly incentive': 2,
         'monthly salary': 3,
         'motor ownership': 2,
         'motorcycle/car': 1,
         'mushola': 1,
         'muslim culture': 1,
         'negosiasi': 1,
         'negotiable': 6,
         'no commute': 3,
         'offset': 1,
         'olahraga': 6,
         'olahraga (contoh: pusat kebugaran)': 895,
         'olahraga.': 2,
         'onsite allowance': 1,
         'open discussion': 1,
         'operational': 8,
         'operational allowance': 1,
         'optical benefit': 2,
         'optics': 5,
         'or': 1,
         'other': 1,
         'other benefits': 60,
         'other benefits are applied to certain level.': 3,
         'others': 4,
         'others benefits': 33,
         'our products are suitable used either by industrial': 6,
         'out-patient': 1,
         'outbond': 10,
         'outbound': 1,
         'outing': 3,
         'outpatient & inpatient coverage': 2,
         'outpatient & inpatient insurance': 2,
         'outstanding award': 4,
         'overseas exposure': 1,
         'overseas t': 27,
         'overseas training': 6,
         'overseas trips': 2,
         'overtime': 22,
         'overtime allowance': 2,
         'overtime cost': 2,

In [ ]:
temp = pd.Series(list(a))
temp[27] = 'kosong'
temp.head()

0         kesehatan
1            parkir
2    tidak tersedia
3              gigi
4     bonus tahunan
dtype: object

Data tunjangan dilakukan perbaikan manual dengan google sheet.

In [ ]:
t1 = pd.read_csv("/content/drive/My Drive/Data Loker/tunjangan_item_mapper2.csv")

t1['Jenis Tunjangan2'] = t1['Jenis Tunjangan2'].str.lower()
t1['Jenis Tunjangan2'].value_counts()

bonus                 138
umum                  106
bpjs-jamsostek         71
makan                  49
transportasi           46
                     ...
beras                   1
flexible                1
asuransi-jamsostek      1
makanan                 1
makan-pendidikan        1
Name: Jenis Tunjangan2, Length: 79, dtype: int64

In [ ]:
# t['Jenis Tunjangan2'].value_counts().to_csv('tunjangan_distinct3.csv')

In [ ]:
# create dict mapper
tunjangan_mapper = dict()

for idx, row in t1.iterrows():
    tunjangan_mapper[row['Jenis Tunjangan dari data asli (Jangan dirubah)']] = row['Jenis Tunjangan2']

In [ ]:
# iterate
result = list()
for i in range(len(tunjangan)):
    split = [data.strip() for data in tunjangan[i].split(',')]
    mapping = pd.Series(split).map(tunjangan_mapper).dropna().drop_duplicates()
    join = ', '.join(list(mapping)).strip()
    result.append(join)

In [ ]:
pd.Series(result).value_counts()

kesehatan                                              3000
tidak tersedia                                         2836
kesehatan, umum                                        2578
umum                                                    868
kesehatan, umum, kacamata                               379
                                                       ...
tidak tersedia, pajak, bonus, kesehatan, pendidikan       1
kesehatan, makan, umum, transportasi, komunikasi          1
kesehatan, umum, kacamata, transportasi                   1
pendidikan, wellnes, kacamata                             1
                                                          1
Length: 499, dtype: int64

Data masih terdapat yang kotor, dilakukan cleaning manual lagi menggunakan google sheet.

In [ ]:
t2 = pd.read_csv("/content/drive/My Drive/Data Loker/tunjangan_mapper3.csv")

t2['target'] = t2['target'].str.lower()

temp = list()
for idx, row in t2.iterrows():
    split = [data.strip() for data in row['target'].split(',')]
    temp += split

pd.Series(temp).value_counts()

makan                   13
asuransi                12
transportasi            11
bpjs kesehatan          10
thr                      9
bpjs                     8
bonus                    8
perumahan                5
pendidikan               5
kesehatan                5
flexible benefits        4
traveling                4
jht                      3
komunikasi               3
kacamata                 3
gigi                     2
jabatan                  2
pernikahan               1
saham                    1
lembur                   1
transport                1
umum                     1
negotiable               1
member koperasi          1
operasional              1
bpjs ketenagakerjaan     1
lainnya                  1
pensiun                  1
tidak tersedia           1
promosi                  1
daerah                   1
pajak                    1
lahiran                  1
keluarga                 1
cuti                     1
dtype: int64

In [ ]:
# create dict mapper
tunjangan_mapper2 = dict()

for idx, row in t2.iterrows():
    tunjangan_mapper2[row['asli']] = row['target']

In [ ]:
# iterate
result2 = list()
for i in range(len(result)):
    split = [data.strip() for data in result[i].split(',')]
    mapping = pd.Series(split).map(tunjangan_mapper2).dropna().drop_duplicates()
    join = ', '.join(list(mapping)).strip()
    result2.append(join)

In [ ]:
# check unique
temp = list()
for i in range(len(result2)):
    split = [data.strip() for data in result2[i].split(',')]
    temp += split

pd.Series(temp).value_counts()

kesehatan               9310
umum                    5980
tidak tersedia          2921
kacamata                1290
bpjs kesehatan          1248
pendidikan               946
bonus                    899
makan                    436
transportasi             335
thr                      202
asuransi                 197
komunikasi               185
jht                      129
pensiun                  124
traveling                 81
jabatan                   80
perumahan                 69
lembur                    48
bpjs                      47
transport                 40
cuti                      40
lahiran                   39
pernikahan                39
lainnya                   37
daerah                    33
flexible benefits         29
saham                     16
member koperasi           14
negotiable                13
operasional               10
pajak                      8
promosi                    7
gigi                       7
bpjs ketenagakerjaan       4
keluarga                   2
                           1
dtype: int64

Terdapat data yang hanya berisi character titik '.', dilakukan replace dengan 'tidak tersedia'

In [ ]:
# data asli
tunjangan[12045]

'.'

In [ ]:
result3 = pd.Series(result2)

# cari indeks data kosong
result3[result3 == '']

12045
dtype: object

In [ ]:
# replace kosong dengan 'tidak tersedia'
result3.iloc[12045] = 'tidak tersedia'

In [ ]:
# check unique
temp = list()
for i in range(len(result3)):
    split = [data.strip() for data in result3[i].split(',')]
    temp += split

pd.Series(temp).value_counts()

kesehatan               9310
umum                    5980
tidak tersedia          2922
kacamata                1290
bpjs kesehatan          1248
pendidikan               946
bonus                    899
makan                    436
transportasi             335
thr                      202
asuransi                 197
komunikasi               185
jht                      129
pensiun                  124
traveling                 81
jabatan                   80
perumahan                 69
lembur                    48
bpjs                      47
transport                 40
cuti                      40
pernikahan                39
lahiran                   39
lainnya                   37
daerah                    33
flexible benefits         29
saham                     16
member koperasi           14
negotiable                13
operasional               10
pajak                      8
promosi                    7
gigi                       7
bpjs ketenagakerjaan       4
keluarga                   2
dtype: int64

In [ ]:
# check null values
data['work_environment_tunjangan'] = result3.tolist()
data['work_environment_tunjangan'].isnull().sum()

0

In [ ]:
data.head()

    platform  ... work_environment_gaya_berpakaian_contoh
0  jobstreet  ...                     kemeja polos & dasi
1  jobstreet  ...                          tidak spesifik
2  jobstreet  ...                                  kemeja
3  jobstreet  ...                     kemeja polos & dasi
4  jobstreet  ...                                  kemeja

[5 rows x 15 columns]

### work_environment_bahasa

In [ ]:
# convert to lower case dan fillna dengan string 'tidak tersedia'
bahasa = data['work_environment_bahasa'].str.lower().fillna('tidak tersedia')

bahasa.value_counts()

bahasa indonesia                      9162
bahasa inggris                        1856
tidak tersedia                        1642
bahasa indonesia & english             208
bahasa indonesia - english             162
                                      ...
inggris, indonesia, mandarin             1
indonesia and mandarin                   1
indonesia-inggris                        1
english, chinese, bahasa indonesia       1
english and korea                        1
Name: work_environment_bahasa, Length: 150, dtype: int64

In [ ]:
# bahasa.value_counts().to_csv('bahasa_distinct.csv')

Lakukan cleaning secara manual dengan google sheet.

In [ ]:
b = pd.read_csv("/content/drive/My Drive/Data Loker/bahasa_mapper.csv")

temp = list()
for idx, row in b.iterrows():
    split = [data.strip() for data in row['target'].split(',')]
    temp += split

pd.Series(temp).value_counts()

inggris           135
indonesia         126
mandarin           58
jepang              9
korea               5
hokien              2
arab                1
tidak tersedia      1
malay               1
jerman              1
dtype: int64

In [ ]:
b.head()

                         asli              target
0            bahasa indonesia           indonesia
1              bahasa inggris             inggris
2              tidak tersedia      tidak tersedia
3  bahasa indonesia & english  indonesia, inggris
4  bahasa indonesia - english  indonesia, inggris

In [ ]:
# create dict mapper
bahasa_mapper = dict()

for idx, row in b.iterrows():
    bahasa_mapper[row['asli']] = row['target']

In [ ]:
# iterate
result = list()
for i in range(len(bahasa)):
    split = [data.strip() for data in bahasa[i].split(',')]
    mapping = pd.Series(split).map(bahasa_mapper).dropna().drop_duplicates()

    result.append(list(mapping))

In [ ]:
# join list
result_bahasa = list()
for res in result:
    r = ', '.join(res).strip()
    result_bahasa.append(r)

In [ ]:
# cek nilai kosong dan isi dengan 'tidak dicantumkan'
for idx, res in enumerate(result_bahasa):
    if res == 'tidak tersedia':
        result_bahasa[idx] = 'tidak dicantumkan'

    if len(res) <= 1:
        result_bahasa[idx] = 'tidak dicantumkan'

In [ ]:
# check null values
data['work_environment_bahasa'] = result_bahasa
data['work_environment_bahasa'].isnull().sum()

0

In [ ]:
data.head()

    platform  ... work_environment_gaya_berpakaian_contoh
0  jobstreet  ...                     kemeja polos & dasi
1  jobstreet  ...                          tidak spesifik
2  jobstreet  ...                                  kemeja
3  jobstreet  ...                     kemeja polos & dasi
4  jobstreet  ...                                  kemeja

[5 rows x 15 columns]

## Ekstrak company_location
Menghasilkan atribut baru yaitu <code>pulau</code> dan <code>provinsi</code>

In [ ]:
# data bantuan 
kota_kab = pd.read_csv("/content/drive/My Drive/Data Loker/daftar_kota_kabupaten_id.csv")
kota_kab.head()

      Pulau Provinsi   Kabupaten/Kota
0  Sumatera     Aceh       Aceh Barat
1  Sumatera     Aceh  Aceh Barat Daya
2  Sumatera     Aceh       Aceh Besar
3  Sumatera     Aceh        Aceh Jaya
4  Sumatera     Aceh     Aceh Selatan

In [ ]:
pulau = kota_kab.Pulau.unique()
provinsi = kota_kab.Provinsi.unique()
pulau, provinsi

(array(['Sumatera', 'Jawa', 'Nusa Tenggara', 'Kalimantan', 'Sulawesi',
        'Maluku', 'Papua'], dtype=object),
 array(['Aceh', 'Sumatera Utara', 'Sumatera Barat', 'Riau',
        'Kepulauan Riau', 'Jambi', 'Bengkulu', 'Sumatera Selatan',
        'Kepulauan Bangka Belitung', 'Lampung', 'Banten', 'Jawa Barat',
        'DKI Jakarta', 'Jawa Tengah', 'DI Yogyakarta', 'Jawa Timur',
        'Bali', 'Nusa Tenggara Barat', 'Nusa Tenggara Timur',
        'Kalimantan Barat', 'Kalimantan Selatan', 'Kalimantan Tengah',
        'Kalimantan Timur', 'Kalimantan Utara', 'Gorontalo',
        'Sulawesi Selatan', 'Sulawesi Barat', 'Sulawesi Tenggara',
        'Sulawesi Tengah', 'Sulawesi Utara', 'Maluku', 'Maluku Utara',
        'Papua', 'Papua Barat'], dtype=object))

In [ ]:
pulau_provinsi = kota_kab[['Pulau', 'Provinsi']].drop_duplicates(subset=['Provinsi']).reset_index(drop=True)
pulau_provinsi['Pulau'] = pulau_provinsi['Pulau'].str.lower()
pulau_provinsi['Provinsi'] = pulau_provinsi['Provinsi'].str.lower()
pulau_provinsi

            Pulau                   Provinsi
0        sumatera                       aceh
1        sumatera             sumatera utara
2        sumatera             sumatera barat
3        sumatera                       riau
4        sumatera             kepulauan riau
5        sumatera                      jambi
6        sumatera                   bengkulu
7        sumatera           sumatera selatan
8        sumatera  kepulauan bangka belitung
9        sumatera                    lampung
10           jawa                     banten
11           jawa                 jawa barat
12           jawa                dki jakarta
13           jawa                jawa tengah
14           jawa              di yogyakarta
15           jawa                 jawa timur
16  nusa tenggara                       bali
17  nusa tenggara        nusa tenggara barat
18  nusa tenggara        nusa tenggara timur
19     kalimantan           kalimantan barat
20     kalimantan         kalimantan selatan
21     kalimantan          kalimantan tengah
22     kalimantan           kalimantan timur
23     kalimantan           kalimantan utara
24       sulawesi                  gorontalo
25       sulawesi           sulawesi selatan
26       sulawesi             sulawesi barat
27       sulawesi          sulawesi tenggara
28       sulawesi            sulawesi tengah
29       sulawesi             sulawesi utara
30         maluku                     maluku
31         maluku               maluku utara
32          papua                      papua
33          papua                papua barat

In [ ]:
# lihat data company_location, fillna dengan 'tidak diketahui'
location = data['company_location'].str.lower().fillna('tidak diketahui')

location.value_counts()

indonesia - jakarta raya                                                                 1778
tidak diketahui                                                                          1411
indonesia - jakarta raya - jakarta selatan                                                685
indonesia - jawa timur - surabaya                                                         418
indonesia - jakarta raya - jakarta barat                                                  390
                                                                                         ...
indonesia - jawa timur - pasuruan - prigen                                                  1
indonesia - jawa tengah - semarang, tegal, kudus                                            1
indonesia - jawa timur - surabaya - menganti jeruk                                          1
indonesia - jawa barat - jln. raya sarengseng pabuaran km.3 subang                          1
indonesia - jawa barat - cikarang - pt prospect motor jl mh thamrin no 152 lippo ckrg       1
Name: company_location, Length: 2857, dtype: int64

- <code>provinsi</code> didapatkan pada data kedua
- <code>pulau</code> didapatkan dengan mencocokkan pada data bantuan

In [ ]:
# ambil provinsi, kemudian cocokkan dengan data bantuan untuk dapatkan pulau

pulau, provinsi = list(), list()

for idx, loc in enumerate(location):
    split_text = loc.split('-')

    prov = split_text[1:2][0].strip() if len(split_text) > 1 else split_text[0]

    # replace 'jakarta raya' -> 'dki jakarta'
    # replace 'yogyakarta' -> 'di yogyakarta'
    # replace 'bangka belitung' -> 'kepulauan bangka belitung'
    prov = 'dki jakarta' if prov == 'jakarta raya' else prov
    prov = 'di yogyakarta' if prov == 'yogyakarta' else prov
    prov = 'kepulauan bangka belitung' if prov == 'bangka belitung' else prov

    if prov in pulau_provinsi['Provinsi'].values:
        idx = pulau_provinsi.index[pulau_provinsi['Provinsi'] == prov][0]
        pul = pulau_provinsi.iloc[idx]['Pulau']
    else:
        pul = 'tidak diketahui'

    provinsi.append(prov)
    pulau.append(pul)

In [ ]:
pd.Series(provinsi).value_counts()

dki jakarta                  5985
jawa barat                   1771
tidak diketahui              1411
jawa timur                   1296
banten                       1219
jawa tengah                   548
sumatera utara                225
di yogyakarta                 216
bali                          214
kalimantan timur              159
kepulauan riau                126
sulawesi selatan              121
sumatera selatan              120
riau                           86
kalimantan selatan             72
kalimantan barat               54
kalimantan tengah              45
lampung                        43
sulawesi utara                 42
sulawesi tengah                40
nusa tenggara barat            37
jambi                          37
kalimantan utara               22
aceh                           21
sulawesi tenggara              20
nusa tenggara timur            18
sumatera barat                 17
papua                          16
maluku utara                   14
papua barat                    12
seluruh singapore               9
kepulauan bangka belitung       8
gorontalo                       7
bengkulu                        7
maluku                          6
national capital reg            5
selangor                        3
sulawesi barat                  1
east                            1
central                         1
papua new guinea                1
taipei                          1
north                           1
uganda                          1
dtype: int64

In [ ]:
pd.Series(pulau).value_counts()

jawa               11035
tidak diketahui     1434
sumatera             690
kalimantan           352
nusa tenggara        269
sulawesi             231
papua                 28
maluku                20
dtype: int64

In [ ]:
# insert into dataframe
data['provinsi'] = provinsi
data['pulau'] = pulau

# drop company_location
data = data.drop(['company_location'], axis=1)

In [ ]:
data.head()

    platform                         job_position  ...     provinsi pulau
0  jobstreet                          SPV FINANCE  ...  dki jakarta  jawa
1  jobstreet       Qualitative Research Executive  ...  dki jakarta  jawa
2  jobstreet  Field Collection (JS - FC) Wonogiri  ...  jawa tengah  jawa
3  jobstreet             Perawat di Negara Jerman  ...  dki jakarta  jawa
4  jobstreet      Field Collection (JS - FC) Pati  ...  jawa tengah  jawa

[5 rows x 16 columns]

Lakukan drop pada data yang berlokasi tidak di Indonesia:
- seluruh singapore
- national capital reg
- selangor
- papua new guinea
- central
- uganda
- taipei
- east
- north

In [ ]:
deleted = ['seluruh singapore',
           'national capital reg',
           'selangor',
           'papua new guinea',
           'central',
           'uganda',
           'taipei',
           'east',
           'north']

# select data yang tanpa nama provinsi di atas
data = data[~data['provinsi'].isin(deleted)]

data['provinsi'].value_counts()

dki jakarta                  5985
jawa barat                   1771
tidak diketahui              1411
jawa timur                   1296
banten                       1219
jawa tengah                   548
sumatera utara                225
di yogyakarta                 216
bali                          214
kalimantan timur              159
kepulauan riau                126
sulawesi selatan              121
sumatera selatan              120
riau                           86
kalimantan selatan             72
kalimantan barat               54
kalimantan tengah              45
lampung                        43
sulawesi utara                 42
sulawesi tengah                40
jambi                          37
nusa tenggara barat            37
kalimantan utara               22
aceh                           21
sulawesi tenggara              20
nusa tenggara timur            18
sumatera barat                 17
papua                          16
maluku utara                   14
papua barat                    12
kepulauan bangka belitung       8
gorontalo                       7
bengkulu                        7
maluku                          6
sulawesi barat                  1
Name: provinsi, dtype: int64

In [ ]:
data.shape

(14036, 16)

In [ ]:
data.isnull().sum()

platform                                   0
job_position                               0
company_name                               0
years_of_experience                        0
job_description                            0
average_processing_time                    0
company_industry                           0
company_size                               0
work_environment_waktu_bekerja             0
work_environment_gaya_berpakaian           0
work_environment_tunjangan                 0
work_environment_bahasa                    0
years_of_experience_cat                    0
work_environment_gaya_berpakaian_contoh    0
provinsi                                   0
pulau                                      0
dtype: int64

In [ ]:
data.head()

    platform                         job_position  ...     provinsi pulau
0  jobstreet                          SPV FINANCE  ...  dki jakarta  jawa
1  jobstreet       Qualitative Research Executive  ...  dki jakarta  jawa
2  jobstreet  Field Collection (JS - FC) Wonogiri  ...  jawa tengah  jawa
3  jobstreet             Perawat di Negara Jerman  ...  dki jakarta  jawa
4  jobstreet      Field Collection (JS - FC) Pati  ...  jawa tengah  jawa

[5 rows x 16 columns]

## Ekstrak job_position
Dilakukan pengelompokkan menjadi job type, supaya distinct.

Menuju colab [2_2_Ekstrak_job_position](https://colab.research.google.com/drive/1Mu-AeZdReKU5u7-_xyX7gaOXVqOMYZ5M?usp=sharing).

> **Question:** necessary?

In [ ]:
# convert to lower case dan fillna dengan string 'tidak tersedia'
job_position = jobstreet['job_position'].str.lower().fillna('tidak tersedia')

job_position.value_counts()[:15]

sales executive          80
accounting staff         68
digital marketing        56
marketing                49
sales manager            48
accounting               44
project manager          43
graphic designer         42
sales                    42
staff accounting         38
marketing manager        37
marketing executive      36
sales engineer           34
accounting supervisor    32
web developer            32
Name: job_position, dtype: int64

In [ ]:
# pd.Series(temp).value_counts().to_csv('job_position_distinct.csv')

## Ekstrak job_description

Hasil ekstrak adalah:
1. **Skill**: keahlian yang dibutuhkan
2. **Pendidikan**: kualifikasi pendidikan

Proses dilakukan pada
- [Colab 2_3_1 Ekstrak job_description (pendidikan)](https://colab.research.google.com/drive/1Ddf22nhb-4CYBhlyO2Gl6xRkBAG4Fsst?usp=sharing)
- [Colab 2_3_2 Ekstrak job_description (skill - english)](https://colab.research.google.com/drive/13OT_WSJYNh0D0vkBPfFWEME8Za5Ojblh?usp=sharing)
- [Colab 2_3_3 Ekstrak job_description (skill - indonesia)](https://colab.research.google.com/drive/1UFUKEMnLU1JgWvSnYcvYNG71FiVeEd4-?usp=sharing)
- [Colab 2_3_4 Ekstrak job_description (skill - en&id)](https://colab.research.google.com/drive/1KcdFkTxPW8c03txSBIXpS_fZEF73Ws77?usp=sharing)

In [ ]:
# convert to lower case dan fillna dengan string 'kosong'
job_description = jobstreet['job_description'].str.lower().fillna('kosong')

job_description.head()

0    [sep][sep]usia max. 35 tahun[sep]pendidikan mi...
1    responsibilities:[sep]brief description of dut...
2    [sep]lingkup pekerjaan: [sep]menjaga account d...
3    [sep]candidate must possess at least diploma i...
4    [sep]lingkup pekerjaan: [sep]menjaga account d...
Name: job_description, dtype: object

In [ ]:
job_description[0]

'[sep][sep]usia max. 35 tahun[sep]pendidikan min. d3[sep]pengalaman min. 3 tahun sebagai senior staff atau spv finance dari perusahaan distributor atau sejenisnya[sep]mempunyai leadership yang kuat, bertanggung jawab & jujur[sep]memiliki pengelolaan dan analisa yg baik, teliti dan cekatan[sep]bersedia visit ke kantor cabang secara rutin[sep]penempatan head office cempaka mas jakarta pusat[sep][sep]tugas & tanggung jawab :[sep][sep]melakukan supervisi tim admin finance(a/r, retur, refund & a/p)[sep]melakukan kontrol aging a/r & limit a/r[sep]membuat schedule a/p payment[sep]melakukan kontrol terhadap retur/refund(cn/dn)[sep]melakukan follow up terkait program-program & point reward[sep]melakukan kordinasi dengan pihak terkait[sep]memaintance utang piutang terhadap dealer-dealer[sep][sep]'

In [ ]:
z = jobstreet[jobstreet['job_position'] == 'Web Developer']
f = z[['job_position', 'job_description']]
f['job_description'][4013]

'[SEP] Usia Maksimal 40 Tahun [SEP]Pengalaman minimal 1 Tahun [SEP]Menguasai /Familiar dengan PHP,,MYSQL,HTML,CSS,COREL,PHOTOSHOP,WEB PROGRAMMING, dan pengoperasian dengan IMAC [SEP]Diutamakan ASP, Java, PHP, Android,IOS[SEP]Komunikatif, Kreatif, dan inisiatif[SEP]Good Personal, Good looking [SEP]Bersedia membawa Company Profile personal saat ada proses seleksi [SEP]Penempatan di Tangerang [SEP][SEP]Tugas dan Tanggung Jawab [SEP][SEP]Membuat dan mengembangkan website[SEP]Melakukan Maintanance periodik terhadap website[SEP]Membuat konten website yang fungsional sehingga dapat menyiapkan informasi tentang produk/ program promosi , aktivitas Perusahaan dengan customer , Layanan kepada Customer [SEP][SEP] [SEP]'

### pendidikan

In [ ]:
# cari job description yang mengandung 
# kata kunci 'pendidikan', 'degree', 'lulusan'
temp = list(job_description.values)

count = 0
for idx, job_desc in enumerate(temp):
    if 'pendidikan' in job_desc:
        count += 1
    elif 'degree' in job_desc:
        count += 1
    elif 'lulusan' in job_desc:
        count += 1
count

9698

### skill

In [ ]:
pass

# Export csv

In [ ]:
data.head()

    platform                         job_position  ...     provinsi pulau
0  jobstreet                          SPV FINANCE  ...  dki jakarta  jawa
1  jobstreet       Qualitative Research Executive  ...  dki jakarta  jawa
2  jobstreet  Field Collection (JS - FC) Wonogiri  ...  jawa tengah  jawa
3  jobstreet             Perawat di Negara Jerman  ...  dki jakarta  jawa
4  jobstreet      Field Collection (JS - FC) Pati  ...  jawa tengah  jawa

[5 rows x 16 columns]

In [ ]:
# create column id_loker
data['id_loker'] = [i+1 for i in range(len(data))]

In [ ]:
data.columns

Index(['platform', 'job_position', 'company_name', 'years_of_experience',
       'job_description', 'average_processing_time', 'company_industry',
       'company_size', 'work_environment_waktu_bekerja',
       'work_environment_gaya_berpakaian', 'work_environment_tunjangan',
       'work_environment_bahasa', 'years_of_experience_cat',
       'work_environment_gaya_berpakaian_contoh', 'provinsi', 'pulau',
       'id_loker'],
      dtype='object')

In [ ]:
# reorder column
cols = ['id_loker',
        'pulau',
        'provinsi',
        'job_position',
        'company_name',
        'years_of_experience',
        'years_of_experience_cat',
        'job_description',
        'average_processing_time',
        'company_industry',
        'company_size',
        'work_environment_waktu_bekerja',
        'work_environment_gaya_berpakaian',
        'work_environment_gaya_berpakaian_contoh',
        'work_environment_tunjangan',
        'work_environment_bahasa',
        'platform']

data = data[cols]
data.head()

   id_loker pulau  ... work_environment_bahasa   platform
0         1  jawa  ...               indonesia  jobstreet
1         2  jawa  ...       tidak dicantumkan  jobstreet
2         3  jawa  ...               indonesia  jobstreet
3         4  jawa  ...               indonesia  jobstreet
4         5  jawa  ...               indonesia  jobstreet

[5 rows x 17 columns]

In [ ]:
data.to_csv('jobstreet_clean_tahap1.csv', index=False)

In [ ]:
data.isnull().sum()

id_loker                                   0
pulau                                      0
provinsi                                   0
job_position                               0
company_name                               0
years_of_experience                        0
years_of_experience_cat                    0
job_description                            0
average_processing_time                    0
company_industry                           0
company_size                               0
work_environment_waktu_bekerja             0
work_environment_gaya_berpakaian           0
work_environment_gaya_berpakaian_contoh    0
work_environment_tunjangan                 0
work_environment_bahasa                    0
platform                                   0
dtype: int64