<a href="https://colab.research.google.com/github/yasirabd/solver-society-job-data/blob/main/3_2_Explore_data_(Random_eksplorasi).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objective
Ekplorasi random.

Note: tidak perlu dipelajari

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data_loker = pd.read_csv("/content/drive/My Drive/Data Loker/data_loker_14oct.csv")
data_pendidikan = pd.read_csv("/content/drive/My Drive/Data Loker/data_pendidikan.csv")

In [ ]:
temp = data_loker[data_loker.provinsi == 'di yogyakarta']
temp = temp[['provinsi', 'pendidikan']]
temp

            provinsi         pendidikan
47     di yogyakarta  tidak dicantumkan
299    di yogyakarta    d3, s1, profesi
346    di yogyakarta  tidak dicantumkan
446    di yogyakarta                 s1
491    di yogyakarta                 d3
...              ...                ...
13459  di yogyakarta    profesi, d3, s1
13468  di yogyakarta            profesi
13800  di yogyakarta             d3, s1
13906  di yogyakarta                 d3
13984  di yogyakarta             s1, d3

[216 rows x 2 columns]

In [ ]:
p = data_pendidikan[data_pendidikan.provinsi == 'di yogyakarta']
p

       id_loker       provinsi         pendidikan
107          48  di yogyakarta  TIDAK DICANTUMKAN
477         300  di yogyakarta                 D3
478         300  di yogyakarta                 S1
479         300  di yogyakarta            PROFESI
546         347  di yogyakarta  TIDAK DICANTUMKAN
...         ...            ...                ...
17246     13801  di yogyakarta                 D3
17247     13801  di yogyakarta                 S1
17378     13907  di yogyakarta                 D3
17473     13985  di yogyakarta                 S1
17474     13985  di yogyakarta                 D3

[259 rows x 3 columns]

# 15 October 2020

In [ ]:
df = pd.read_csv("/content/data_loker_14oct.csv")

# cols select
cols = ['id_loker', 'provinsi', 'job_position', 'pendidikan']
df = df[cols]
df.head()

   id_loker     provinsi                    job_position   pendidikan
0         1  dki jakarta                     spv finance           d3
1         2  dki jakarta  qualitative research executive           s1
2         3  jawa tengah       field collection wonogiri  d3, s1, sma
3         4  dki jakarta        perawat di negara jerman           d3
4         5  jawa tengah           field collection pati  d3, s1, sma

In [ ]:
# remove data provinsi = 'tidak diketahui'
df = df[~df.provinsi.isin(['tidak diketahui'])]

# reset id_loker
df.provinsi.value_counts()

dki jakarta                  5985
jawa barat                   1771
jawa timur                   1296
banten                       1219
jawa tengah                   548
sumatera utara                225
di yogyakarta                 216
bali                          214
kalimantan timur              159
kepulauan riau                126
sulawesi selatan              121
sumatera selatan              120
riau                           86
kalimantan selatan             72
kalimantan barat               54
kalimantan tengah              45
lampung                        43
sulawesi utara                 42
sulawesi tengah                40
nusa tenggara barat            37
jambi                          37
kalimantan utara               22
aceh                           21
sulawesi tenggara              20
nusa tenggara timur            18
sumatera barat                 17
papua                          16
maluku utara                   14
papua barat                    12
kepulauan bangka belitung       8
bengkulu                        7
gorontalo                       7
maluku                          6
sulawesi barat                  1
Name: provinsi, dtype: int64

In [ ]:
prov_jawa = ['dki jakarta', 'banten','jawa barat', 'jawa tengah', 'jawa timur', 'di yogyakarta']

df_jawa = df[df.provinsi.isin(prov_jawa)]

# reset id_loker
id_loker = [i+1 for i in range(len(df_jawa))]
df_jawa['id_loker'] = id_loker

df_jawa.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

   id_loker     provinsi                    job_position   pendidikan
0         1  dki jakarta                     spv finance           d3
1         2  dki jakarta  qualitative research executive           s1
2         3  jawa tengah       field collection wonogiri  d3, s1, sma
3         4  dki jakarta        perawat di negara jerman           d3
4         5  jawa tengah           field collection pati  d3, s1, sma

In [ ]:
df_jawa.shape

(11035, 4)

In [ ]:
df_jawa.provinsi.value_counts()

dki jakarta      5985
jawa barat       1771
jawa timur       1296
banten           1219
jawa tengah       548
di yogyakarta     216
Name: provinsi, dtype: int64

In [ ]:
data_loker = df_jawa[['id_loker', 'provinsi', 'job_position']]
data_loker.head()

   id_loker     provinsi                    job_position
0         1  dki jakarta                     spv finance
1         2  dki jakarta  qualitative research executive
2         3  jawa tengah       field collection wonogiri
3         4  dki jakarta        perawat di negara jerman
4         5  jawa tengah           field collection pati

In [ ]:
# reformat data pendidikan menjadi csv baru
df_pendidikan = pd.DataFrame(columns=['id_loker', 'provinsi', 'pendidikan'])

for idx, row in df_jawa.iterrows():

    split_pendidikan = [data.strip().upper() for data in row['pendidikan'].split(',')]
    
    for pend in split_pendidikan:
        df_pendidikan = df_pendidikan.append({'id_loker': row['id_loker'],
                                              'provinsi': row['provinsi'],
                                              'pendidikan': pend}, ignore_index=True)

In [ ]:
df_pendidikan.shape

(13694, 3)

In [ ]:
# export csv
data_loker.to_csv('data_loker_15oct_slice.csv', index=False)
df_pendidikan.to_csv('data_pendidikan_15oct_slice.csv', index=False)

In [ ]:
a = [['faf', 'faf', 'c'], ['af']]

temp = list()
for i in a:
    temp+=i

In [ ]:
temp

['faf', 'faf', 'c', 'af']